.mod_breadcrumb {
  @extend %list-flex-horizontal;

  li {

    &:after {
      content: $breadcrumb-separator;
      font-family: $breadcrumb-separator-font-family;
      color: $breadcrumb-separator-color;

      display: inline-block;
      position: relative;
      left: rem(5);

      line-height: 1;
    }

    &:last-child:after {
      content: none;
    }
  }

  @extend %list-flex-direction;
}
