.boxed {

  > .inside {
    background-color: $boxed-background-color;
    border-color: $boxed-border-color;
    border-radius: $boxed-border-radius;
    border-style: $boxed-border-style;
    border-width: $boxed-border-width;
    padding: $boxed-padding;
  }

  .grid-list {
    margin: 0 -#{divide($grid-gutter-width, 2)} -#{$grid-gutter-bottom};
  }
}

.boxed-shadow {
  overflow: visible;

  > .inside {
    margin: -#{divide($grid-gutter-width, 2)};
    overflow: hidden;

    > .grid-list {
      margin: divide($grid-gutter-width, 2) sub(divide($grid-gutter-width, 2), divide($grid-gutter-width, 2)) sub(divide($grid-gutter-width, 2), $grid-gutter-bottom);

      &.small-gutter {
        margin: divide($grid-gutter-width, 2) sub(divide($grid-gutter-width, 2), divide($grid-gutter-small-width, 2)) sub(divide($grid-gutter-width, 2), $grid-gutter-small-bottom);
      }

      &.no-gutter {
        margin: divide($grid-gutter-width, 2);
      }
    }
  }

  .boxed {
    overflow: visible;

    > .inside {
      box-shadow: $box-shadow;
    }
  }
}