.boxed {

  > .inside {
    background-color: $boxed-background-color;
    border-color: $boxed-border-color;
    border-radius: $boxed-border-radius;
    border-style: $boxed-border-style;
    border-width: $boxed-border-width;
    padding: $boxed-spacing;
  }

  .grid-list {
    margin: 0 -#{divide($grid-gutter-width, 2)} -#{$grid-gutter-bottom};
  }
}
