button, a, input[type="submit"] {
  // Allow is-block even if no button class is selected
  &.is-block {
    width: 100%;
    justify-content: center;
  }
}

button, a.button, input.button {
  font-family: $font-family-base;
  font-weight: $button-font-weight-primary;
  line-height: $button-line-height;
  text-transform: $button-transform-primary;

  background-color: $button-bg-primary;
  color: $button-color-primary;

  border-radius: $button-border-radius-primary;
  border: $button-border-style-primary $button-border-color-primary;
  border-width: $button-border-width-primary;

  cursor: pointer;
  display: inline-flex;

  font-size: $button-font-size-medium;
  padding: subList($button-padding-medium, $button-border-width-primary);

  text-decoration: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover {
    background-color: $button-hover-bg-primary;
    color: $button-hover-color-primary;
    border-color: $button-hover-border-color-primary;
  }

  &.size-small {
    font-size: $button-font-size-small;
    padding: subList($button-padding-small, $button-border-width-primary);
  }

  &.size-large {
    font-size: $button-font-size-large;
    padding: subList($button-padding-large, $button-border-width-primary);
  }

  &.size-super {
    font-size: $button-font-size-super;
    padding: subList($button-padding-super, $button-border-width-primary);
  }

  &.design-secondary {
    font-weight: $button-font-weight-secondary;
    text-transform: $button-transform-secondary;

    background-color: $button-bg-secondary;
    color: $button-color-secondary;

    border-radius: $button-border-radius-secondary;
    border: $button-border-style-secondary $button-border-color-secondary;
    border-width: $button-border-width-secondary;

    padding: subList($button-padding-medium, $button-border-width-secondary);

    &:hover {
      background-color: $button-hover-bg-secondary;
      color: $button-hover-color-secondary;
      border-color: $button-hover-border-color-secondary;
    }

    &.size-small {
      padding: subList($button-padding-small, $button-border-width-secondary);
    }

    &.size-large {
      padding: subList($button-padding-large, $button-border-width-secondary);
    }

    &.size-super {
      padding: subList($button-padding-super, $button-border-width-secondary);
    }
  }

  &.design-alt {
    font-weight: $button-font-weight-alt;
    text-transform: $button-transform-alt;

    background-color: $button-bg-alt;
    color: $button-color-alt;

    border-radius: $button-border-radius-alt;
    border: $button-border-style-alt $button-border-color-alt;
    border-width: $button-border-width-alt;

    padding: subList($button-padding-medium, $button-border-width-alt);

    &:hover {
      background-color: $button-hover-bg-alt;
      color: $button-hover-color-alt;
      border-color: $button-hover-border-color-alt;
    }

    &.size-small {
      padding: subList($button-padding-small, $button-border-width-alt);
    }

    &.size-large {
      padding: subList($button-padding-large, $button-border-width-alt);
    }

    &.size-super {
      padding: subList($button-padding-super, $button-border-width-alt);
    }
  }
}
