button, a.button, input.button {
  border-width: $button-border-width;
  border-style: solid;
  border-radius: $button-border-radius;
  color: $button-color-regular;
  cursor: pointer;
  background-color: $button-background-regular;
  display: inline-block;
  font-size: $button-font-size-medium;
  padding: $button-padding-medium;
  text-decoration: none;

  &:hover {
    background-color: $button-hover-background-regular;
    color: $button-hover-color-regular;
  }

  &.size-small {
    font-size: $button-font-size-small;
    padding: $button-padding-small;
  }

  &.size-large {
    font-size: $button-font-size-large;
    padding: $button-padding-large;
  }

  &.size-super {
    font-size: $button-font-size-super;
    padding: $button-padding-super;
  }

  &.design-alt {
    background-color: $button-background-alt;
    box-shadow: inset 0 0 0 $button-border-width $button-color-alt;
    color: $button-color-alt;

    &:hover {
      background-color: $button-hover-background-alt;
      color: $button-hover-color-alt;
    }

    &.color-primary {
      background-color: transparent;
      box-shadow: inset 0 0 0 $button-border-width $primary;
      color: $primary;

      &:hover {
        background-color: $primary;
        color: $text-color-invert;
      }
    }

    &.color-secondary {
      background-color: transparent;
      box-shadow: inset 0 0 0 $button-border-width $secondary;
      color: $secondary;

      &:hover {
        background-color: $secondary;
        color: $text-color-invert;
      }
    }

    &.color-regular {
      background-color: transparent;
      box-shadow: inset 0 0 0 $button-border-width $text-color-regular;
      color: $text-color-regular;

      &:hover {
        background-color: $text-color-regular;
        color: $text-color-invert;
      }
    }

    &.color-invert {
      background-color: transparent;
      box-shadow: inset 0 0 0 $button-border-width $text-color-invert;
      color: $text-color-invert;

      &:hover {
        background-color: $text-color-invert;
        color: $text-color-regular;
      }
    }
  }

  &.color-primary {
    background-color: $primary;
    color: $text-color-invert;

    &:hover {
      background-color: darken($primary, 10);
      color: $text-color-invert;
    }
  }

  &.color-secondary {
    background-color: $secondary;
    color: $text-color-invert;

    &:hover {
      background-color: darken($secondary, 10);
      color: $text-color-invert;
    }
  }

  &.color-regular {
    background-color: $text-color-regular;
    color: $text-color-invert;

    &:hover {
      background-color: darken($text-color-regular, 10);
      color: $text-color-invert;
    }
  }

  &.color-invert {
    background-color: $text-color-invert;
    color: $text-color-regular;

    &:hover {
      background-color: darken($text-color-invert, 10);
      color: $text-color-regular;
    }
  }
}
