.divider {

  &.top,
  &.bottom {
    border-style: $divider-style;
    border-color: $divider-color;
  }

  &-top {
    border-width: $divider-size 0 0 0;
  }

  &-bottom {
    border-width: 0 0 $divider-size 0;
  }
}

.divider-inner {

  &-top,
  &-bottom {

    > .inside {

      &:before,
      &:after {
        content: '';
        display: block;

        position: absolute;
        height: $divider-size;
        left: divide($grid-gutter-width, 2);
        right: divide($grid-gutter-width, 2);
        background-color: $divider-color;
      }
    }
  }

  &-top {

    > .inside {

      &:before {
        top: 0;
      }
    }
  }

  &-bottom {

    > .inside {

      &:after {
        bottom: 0;
      }
    }
  }
}
