[class*='el-spacing'] {
  --el-spc-sm: #{$element-spacing-xs-small};
  --el-spc-md: #{$element-spacing-xs-medium};
  --el-spc-lg: #{$element-spacing-xs-large};
}

.el-spacing {

  &-top-small {
    margin-top: var(--el-spc-sm);
  }

  &-bottom-small {
    margin-bottom: var(--el-spc-sm);
  }

  &-top-medium {
    margin-top: var(--el-spc-md);
  }

  &-bottom-medium {
    margin-bottom: var(--el-spc-md);
  }

  &-top-large {
    margin-top: var(--el-spc-lg);
  }

  &-bottom-large {
    margin-bottom: var(--el-spc-lg);
  }
}

@include media-breakpoint('s') {
  [class*='el-spacing'] {
    --el-spc-sm: #{$element-spacing-s-small};
    --el-spc-md: #{$element-spacing-s-medium};
    --el-spc-lg: #{$element-spacing-s-large};
  }
}

@include media-breakpoint('m') {
  [class*='el-spacing'] {
    --el-spc-sm: #{$element-spacing-m-small};
    --el-spc-md: #{$element-spacing-m-medium};
    --el-spc-lg: #{$element-spacing-m-large};
  }
}

@include media-breakpoint('l') {
  [class*='el-spacing'] {
    --el-spc-sm: #{$element-spacing-l-small};
    --el-spc-md: #{$element-spacing-l-medium};
    --el-spc-lg: #{$element-spacing-l-large};
  }
}

@include media-breakpoint('xl') {
  [class*='el-spacing'] {
    --el-spc-sm: #{$element-spacing-xl-small};
    --el-spc-md: #{$element-spacing-xl-medium};
    --el-spc-lg: #{$element-spacing-xl-large};
  }
}
