.hl-design-lined {

  &:after {
    content: '';
    display: inline-block;

    height: rem(2);
    width: 100px;

    text-align: inherit;
    vertical-align: middle;

    position: relative;
    bottom: 1px;

    background: $primary;
  }
}

.hl-spacing-global-small {

  &.hl-design-lined:after {
    bottom: -#{sub(divide($headline-spacing-small, 2), 1px)};
  }
}

.hl-spacing-global-medium {

  &.hl-design-lined:after {
    bottom: -#{sub(divide($headline-spacing-medium, 2), 1px)};
  }
}

.hl-spacing-global-large {

  &.hl-design-lined:after {
    bottom: -#{sub(divide($headline-spacing-large, 2), 1px)};
  }
}

.hl-spacing-small {

  &.hl-design-lined:after {
    bottom: -#{sub(divide($headline-spacing-medium, 2), 1px)};
  }
}

.hl-spacing-medium {

  &.hl-design-lined:after {
    bottom: -#{sub(divide($headline-spacing-s-medium, 2), 1px)};
  }
}

.hl-spacing-large {

  &.hl-design-lined:after {
    bottom: -#{sub(divide($headline-spacing-l-medium, 2), 1px)};
  }
}

.hl-spacing-global-small {

  &.hl-spacing-small {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-small, 2), 1px)};
    }
  }

  &.hl-spacing-medium {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-s-small, 2), 1px)};
    }
  }

  &.hl-spacing-large {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-l-small, 2), 1px)};
    }
  }
}

.hl-spacing-global-medium {

  &.hl-spacing-small {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-medium, 2), 1px)};
    }
  }

  &.hl-spacing-medium {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-s-medium, 2), 1px)};
    }
  }

  &.hl-spacing-large {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-l-medium, 2), 1px)};
    }
  }
}

.hl-spacing-global-large {

  &.hl-spacing-small {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-large, 2), 1px)};
    }
  }

  &.hl-spacing-medium {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-s-large, 2), 1px)};
    }
  }

  &.hl-spacing-large {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-l-large, 2), 1px)};
    }
  }
}

@include media-breakpoint('xs') {

  .hl-spacing-xs-small {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-medium, 2), 1px)};
    }
  }

  .hl-spacing-xs-medium {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-s-medium, 2), 1px)};
    }
  }

  .hl-spacing-xs-large {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-l-medium, 2), 1px)};
    }
  }

  .hl-spacing-global-small {

    &.hl-spacing-xs-small {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-small, 2), 1px)};
      }
    }

    &.hl-spacing-xs-medium {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-s-small, 2), 1px)};
      }
    }

    &.hl-spacing-xs-large {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-l-small, 2), 1px)};
      }
    }
  }

  .hl-spacing-global-medium {

    &.hl-spacing-xs-small {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-medium, 2), 1px)};
      }
    }

    &.hl-spacing-xs-medium {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-s-medium, 2), 1px)};
      }
    }

    &.hl-spacing-xs-large {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-l-medium, 2), 1px)};
      }
    }
  }

  .hl-spacing-global-large {

    &.hl-spacing-xs-small {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-large, 2), 1px)};
      }
    }

    &.hl-spacing-xs-medium {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-s-large, 2), 1px)};
      }
    }

    &.hl-spacing-xs-large {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-l-large, 2), 1px)};
      }
    }
  }
}

@include media-breakpoint('s') {

  .hl-spacing-global-small {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-s-small, 2), 1px)};
    }
  }

  .hl-spacing-global-medium {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-s-medium, 2), 1px)};
    }
  }

  .hl-spacing-global-large {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-s-large, 2), 1px)};
    }
  }

  .hl-spacing-s-small {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-medium, 2), 1px)};
    }
  }

  .hl-spacing-s-medium {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-s-medium, 2), 1px)};
    }
  }

  .hl-spacing-s-large {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-l-medium, 2), 1px)};
    }
  }

  .hl-spacing-global-small {

    &.hl-spacing-s-small {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-small, 2), 1px)};
      }
    }

    &.hl-spacing-s-medium {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-s-small, 2), 1px)};
      }
    }

    &.hl-spacing-s-large {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-l-small, 2), 1px)};
      }
    }
  }

  .hl-spacing-global-medium {

    &.hl-spacing-s-small {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-medium, 2), 1px)};
      }
    }

    &.hl-spacing-s-medium {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-s-medium, 2), 1px)};
      }
    }

    &.hl-spacing-s-large {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-l-medium, 2), 1px)};
      }
    }
  }

  .hl-spacing-global-large {

    &.hl-spacing-s-small {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-large, 2), 1px)};
      }
    }

    &.hl-spacing-s-medium {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-s-large, 2), 1px)};
      }
    }

    &.hl-spacing-s-large {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-l-large, 2), 1px)};
      }
    }
  }
}

@include media-breakpoint('m') {

  .hl-spacing-m-small {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-medium, 2), 1px)};
    }
  }

  .hl-spacing-m-medium {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-s-medium, 2), 1px)};
    }
  }

  .hl-spacing-m-large {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-l-medium, 2), 1px)};
    }
  }

  .hl-spacing-global-small {

    &.hl-spacing-m-small {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-small, 2), 1px)};
      }
    }

    &.hl-spacing-m-medium {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-s-small, 2), 1px)};
      }
    }

    &.hl-spacing-m-large {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-l-small, 2), 1px)};
      }
    }
  }

  .hl-spacing-global-medium {

    &.hl-spacing-m-small {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-medium, 2), 1px)};
      }
    }

    &.hl-spacing-m-medium {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-s-medium, 2), 1px)};
      }
    }

    &.hl-spacing-m-large {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-l-medium, 2), 1px)};
      }
    }
  }

  .hl-spacing-global-large {

    &.hl-spacing-m-small {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-large, 2), 1px)};
      }
    }

    &.hl-spacing-m-medium {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-s-large, 2), 1px)};
      }
    }

    &.hl-spacing-m-large {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-l-large, 2), 1px)};
      }
    }
  }
}

@include media-breakpoint('l') {

  .hl-spacing-global-small {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-l-small, 2), 1px)};
    }
  }

  .hl-spacing-global-medium {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-l-medium, 2), 1px)};
    }
  }

  .hl-spacing-global-large {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-l-large, 2), 1px)};
    }
  }

  .hl-spacing-l-small {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-medium, 2), 1px)};
    }
  }

  .hl-spacing-l-medium {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-s-medium, 2), 1px)};
    }
  }

  .hl-spacing-l-large {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-l-medium, 2), 1px)};
    }
  }

  .hl-spacing-global-small {

    &.hl-spacing-l-small {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-small, 2), 1px)};
      }
    }

    &.hl-spacing-l-medium {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-s-small, 2), 1px)};
      }
    }

    &.hl-spacing-l-large {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-l-small, 2), 1px)};
      }
    }
  }

  .hl-spacing-global-medium {

    &.hl-spacing-l-small {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-medium, 2), 1px)};
      }
    }

    &.hl-spacing-l-medium {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-s-medium, 2), 1px)};
      }
    }

    &.hl-spacing-l-large {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-l-medium, 2), 1px)};
      }
    }
  }

  .hl-spacing-global-large {

    &.hl-spacing-l-small {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-large, 2), 1px)};
      }
    }

    &.hl-spacing-l-medium {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-s-large, 2), 1px)};
      }
    }

    &.hl-spacing-l-large {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-l-large, 2), 1px)};
      }
    }
  }
}

@include media-breakpoint('xl') {

  .hl-spacing-xl-small {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-medium, 2), 1px)};
    }
  }

  .hl-spacing-xl-medium {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-s-medium, 2), 1px)};
    }
  }

  .hl-spacing-xl-large {

    &.hl-design-lined:after {
      bottom: -#{sub(divide($headline-spacing-l-medium, 2), 1px)};
    }
  }

  .hl-spacing-global-small {

    &.hl-spacing-xl-small {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-small, 2), 1px)};
      }
    }

    &.hl-spacing-xl-medium {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-s-small, 2), 1px)};
      }
    }

    &.hl-spacing-xl-large {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-l-small, 2), 1px)};
      }
    }
  }

  .hl-spacing-global-medium {

    &.hl-spacing-xl-small {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-medium, 2), 1px)};
      }
    }

    &.hl-spacing-xl-medium {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-s-medium, 2), 1px)};
      }
    }

    &.hl-spacing-xl-large {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-l-medium, 2), 1px)};
      }
    }
  }

  .hl-spacing-global-large {

    &.hl-spacing-xl-small {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-large, 2), 1px)};
      }
    }

    &.hl-spacing-xl-medium {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-s-large, 2), 1px)};
      }
    }

    &.hl-spacing-xl-large {

      &.hl-design-lined:after {
        bottom: -#{sub(divide($headline-spacing-l-large, 2), 1px)};
      }
    }
  }
}
