.hl-design-lined{
  position: relative;
  padding-bottom: $headline-spacing-small;

  &:after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100px;
    background: $primary;
  }
}

.align-center{

  .hl-design-lined:after{
    left: 50%;
    transform: translateX(-50%);
  }
}

.align-right{

  .hl-design-lined:after{
    left: initial;
    right: 0;
  }
}

.hl-spacing-global-medium{

  &.hl-design-lined {
    padding-bottom: $headline-spacing-small;
  }
}

.hl-spacing-global-large{

  &.hl-design-lined {
    padding-bottom: $headline-spacing-large;
  }
}

.hl-spacing-small{

  &.hl-design-lined {
    padding-bottom: $headline-spacing-medium;
  }
}

.hl-spacing-medium{

  &.hl-design-lined {
    padding-bottom: $headline-spacing-s-medium;
  }
}

.hl-spacing-large{

  &.hl-design-lined {
    padding-bottom: $headline-spacing-l-medium;
  }
}

.hl-spacing-global-small{

  &.hl-spacing-small{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-small;
    }
  }

  &.hl-spacing-medium{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-s-small;
    }
  }

  &.hl-spacing-large{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-l-small;
    }
  }
}

.hl-spacing-global-medium{

  &.hl-spacing-small{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-medium;
    }
  }

  &.hl-spacing-medium{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-s-medium;
    }
  }

  &.hl-spacing-large{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-l-medium;
    }
  }
}

.hl-spacing-global-large{

  &.hl-spacing-small{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-large;
    }
  }

  &.hl-spacing-medium{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-s-large;
    }
  }

  &.hl-spacing-large{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-l-large;
    }
  }
}

@include media-breakpoint('xs') {

  .hl-spacing-xs-small{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-medium;
    }
  }

  .hl-spacing-xs-medium{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-s-medium;
    }
  }

  .hl-spacing-xs-large{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-l-medium;
    }
  }

  .hl-spacing-global-small{

    &.hl-spacing-xs-small{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-small;
      }
    }

    &.hl-spacing-xs-medium{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-s-small;
      }
    }

    &.hl-spacing-xs-large{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-l-small;
      }
    }
  }

  .hl-spacing-global-medium{

    &.hl-spacing-xs-small{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-medium;
      }
    }

    &.hl-spacing-xs-medium{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-s-medium;
      }
    }

    &.hl-spacing-xs-large{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-l-medium;
      }
    }
  }

  .hl-spacing-global-large{

    &.hl-spacing-xs-small{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-large;
      }
    }

    &.hl-spacing-xs-medium{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-s-large;
      }
    }

    &.hl-spacing-xs-large{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-l-large;
      }
    }
  }
}

@include media-breakpoint('s') {

  .hl-spacing-global-small{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-s-small;
    }
  }

  .hl-spacing-global-medium{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-s-medium;
    }
  }

  .hl-spacing-global-large{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-s-large;
    }
  }

  .hl-spacing-s-small{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-medium;
    }
  }

  .hl-spacing-s-medium{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-s-medium;
    }
  }

  .hl-spacing-s-large{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-l-medium;
    }
  }

  .hl-spacing-global-small{

    &.hl-spacing-s-small{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-small;
      }
    }

    &.hl-spacing-s-medium{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-s-small;
      }
    }

    &.hl-spacing-s-large{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-l-small;
      }
    }
  }

  .hl-spacing-global-medium{

    &.hl-spacing-s-small{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-medium;
      }
    }

    &.hl-spacing-s-medium{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-s-medium;
      }
    }

    &.hl-spacing-s-large{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-l-medium;
      }
    }
  }

  .hl-spacing-global-large{

    &.hl-spacing-s-small{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-large;
      }
    }

    &.hl-spacing-s-medium{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-s-large;
      }
    }

    &.hl-spacing-s-large{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-l-large;
      }
    }
  }
}

@include media-breakpoint('m') {

  .hl-spacing-m-small{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-medium;
    }
  }

  .hl-spacing-m-medium{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-s-medium;
    }
  }

  .hl-spacing-m-large{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-l-medium;
    }
  }

  .hl-spacing-global-small{

    &.hl-spacing-m-small{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-small;
      }
    }

    &.hl-spacing-m-medium{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-s-small;
      }
    }

    &.hl-spacing-m-large{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-l-small;
      }
    }
  }

  .hl-spacing-global-medium{

    &.hl-spacing-m-small{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-medium;
      }
    }

    &.hl-spacing-m-medium{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-s-medium;
      }
    }

    &.hl-spacing-m-large{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-l-medium;
      }
    }
  }

  .hl-spacing-global-large{

    &.hl-spacing-m-small{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-large;
      }
    }

    &.hl-spacing-m-medium{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-s-large;
      }
    }

    &.hl-spacing-m-large{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-l-large;
      }
    }
  }
}

@include media-breakpoint('l') {

  .hl-spacing-global-small{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-l-small;
    }
  }

  .hl-spacing-global-medium{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-l-medium;
    }
  }

  .hl-spacing-global-large{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-l-large;
    }
  }

  .hl-spacing-l-small{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-medium;
    }
  }

  .hl-spacing-l-medium{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-s-medium;
    }
  }

  .hl-spacing-l-large{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-l-medium;
    }
  }

  .hl-spacing-global-small{

    &.hl-spacing-l-small{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-small;
      }
    }

    &.hl-spacing-l-medium{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-s-small;
      }
    }

    &.hl-spacing-l-large{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-l-small;
      }
    }
  }

  .hl-spacing-global-medium{

    &.hl-spacing-l-small{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-medium;
      }
    }

    &.hl-spacing-l-medium{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-s-medium;
      }
    }

    &.hl-spacing-l-large{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-l-medium;
      }
    }
  }

  .hl-spacing-global-large{

    &.hl-spacing-l-small{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-large;
      }
    }

    &.hl-spacing-l-medium{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-s-large;
      }
    }

    &.hl-spacing-l-large{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-l-large;
      }
    }
  }
}

@include media-breakpoint('xl') {

  .hl-spacing-xl-small{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-medium;
    }
  }

  .hl-spacing-xl-medium{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-s-medium;
    }
  }

  .hl-spacing-xl-large{

    &.hl-design-lined {
      padding-bottom: $headline-spacing-l-medium;
    }
  }

  .hl-spacing-global-small{

    &.hl-spacing-xl-small{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-small;
      }
    }

    &.hl-spacing-xl-medium{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-s-small;
      }
    }

    &.hl-spacing-xl-large{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-l-small;
      }
    }
  }

  .hl-spacing-global-medium{

    &.hl-spacing-xl-small{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-medium;
      }
    }

    &.hl-spacing-xl-medium{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-s-medium;
      }
    }

    &.hl-spacing-xl-large{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-l-medium;
      }
    }
  }

  .hl-spacing-global-large{

    &.hl-spacing-xl-small{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-large;
      }
    }

    &.hl-spacing-xl-medium{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-s-large;
      }
    }

    &.hl-spacing-xl-large{

      &.hl-design-lined {
        padding-bottom: $headline-spacing-l-large;
      }
    }
  }
}
