.hl-spacing-global-small{
  margin-bottom: $headline-spacing-small;
}

.hl-spacing-global-medium{
  margin-bottom: $headline-spacing-medium;
}

.hl-spacing-global-large{
  margin-bottom: $headline-spacing-large;
}

.hl-spacing-small{
  margin-bottom: $headline-spacing-medium;
}

.hl-spacing-medium{
  margin-bottom: $headline-spacing-s-medium;
}

.hl-spacing-large{
  margin-bottom: $headline-spacing-l-medium;
}

.hl-spacing-global-small{

  &.hl-spacing-small{
    margin-bottom: $headline-spacing-small;
  }

  &.hl-spacing-medium{
    margin-bottom: $headline-spacing-s-small;
  }

  &.hl-spacing-large{
    margin-bottom: $headline-spacing-l-small;
  }
}

.hl-spacing-global-medium{

  &.hl-spacing-small{
    margin-bottom: $headline-spacing-medium;
  }

  &.hl-spacing-medium{
    margin-bottom: $headline-spacing-s-medium;
  }

  &.hl-spacing-large{
    margin-bottom: $headline-spacing-l-medium;
  }
}

.hl-spacing-global-large{

  &.hl-spacing-small{
    margin-bottom: $headline-spacing-large;
  }

  &.hl-spacing-medium{
    margin-bottom: $headline-spacing-s-large;
  }

  &.hl-spacing-large{
    margin-bottom: $headline-spacing-l-large;
  }
}

div[class*="hl-spacing"] > *:last-child{
    margin-bottom: 0;
}

@include media-breakpoint('xs') {

  .hl-spacing-xs-small{
    margin-bottom: $headline-spacing-medium;
  }

  .hl-spacing-xs-medium{
    margin-bottom: $headline-spacing-s-medium;
  }

  .hl-spacing-xs-large{
    margin-bottom: $headline-spacing-l-medium;
  }

  .hl-spacing-global-small{

    &.hl-spacing-xs-small{
      margin-bottom: $headline-spacing-small;
    }

    &.hl-spacing-xs-medium{
      margin-bottom: $headline-spacing-s-small;
    }

    &.hl-spacing-xs-large{
      margin-bottom: $headline-spacing-l-small;
    }
  }

  .hl-spacing-global-medium{

    &.hl-spacing-xs-small{
      margin-bottom: $headline-spacing-medium;
    }

    &.hl-spacing-xs-medium{
      margin-bottom: $headline-spacing-s-medium;
    }

    &.hl-spacing-xs-large{
      margin-bottom: $headline-spacing-l-medium;
    }
  }

  .hl-spacing-global-large{

    &.hl-spacing-xs-small{
      margin-bottom: $headline-spacing-large;
    }

    &.hl-spacing-xs-medium{
      margin-bottom: $headline-spacing-s-large;
    }

    &.hl-spacing-xs-large{
      margin-bottom: $headline-spacing-l-large;
    }
  }
}

@include media-breakpoint('s') {

  .hl-spacing-global-small{
    margin-bottom: $headline-spacing-s-small;
  }

  .hl-spacing-global-medium{
    margin-bottom: $headline-spacing-s-medium;
  }

  .hl-spacing-global-large{
    margin-bottom: $headline-spacing-s-large;
  }

  .hl-spacing-s-small{
    margin-bottom: $headline-spacing-medium;
  }

  .hl-spacing-s-medium{
    margin-bottom: $headline-spacing-s-medium;
  }

  .hl-spacing-s-large{
    margin-bottom: $headline-spacing-l-medium;
  }

  .hl-spacing-global-small{

    &.hl-spacing-s-small{
      margin-bottom: $headline-spacing-small;
    }

    &.hl-spacing-s-medium{
      margin-bottom: $headline-spacing-s-small;
    }

    &.hl-spacing-s-large{
      margin-bottom: $headline-spacing-l-small;
    }
  }

  .hl-spacing-global-medium{

    &.hl-spacing-s-small{
      margin-bottom: $headline-spacing-medium;
    }

    &.hl-spacing-s-medium{
      margin-bottom: $headline-spacing-s-medium;
    }

    &.hl-spacing-s-large{
      margin-bottom: $headline-spacing-l-medium;
    }
  }

  .hl-spacing-global-large{

    &.hl-spacing-s-small{
      margin-bottom: $headline-spacing-large;
    }

    &.hl-spacing-s-medium{
      margin-bottom: $headline-spacing-s-large;
    }

    &.hl-spacing-s-large{
      margin-bottom: $headline-spacing-l-large;
    }
  }
}

@include media-breakpoint('m') {

  .hl-spacing-m-small{
    margin-bottom: $headline-spacing-medium;
  }

  .hl-spacing-m-medium{
    margin-bottom: $headline-spacing-s-medium;
  }

  .hl-spacing-m-large{
    margin-bottom: $headline-spacing-l-medium;
  }

  .hl-spacing-global-small{

    &.hl-spacing-m-small{
      margin-bottom: $headline-spacing-small;
    }

    &.hl-spacing-m-medium{
      margin-bottom: $headline-spacing-s-small;
    }

    &.hl-spacing-m-large{
      margin-bottom: $headline-spacing-l-small;
    }
  }

  .hl-spacing-global-medium{

    &.hl-spacing-m-small{
      margin-bottom: $headline-spacing-medium;
    }

    &.hl-spacing-m-medium{
      margin-bottom: $headline-spacing-s-medium;
    }

    &.hl-spacing-m-large{
      margin-bottom: $headline-spacing-l-medium;
    }
  }

  .hl-spacing-global-large{

    &.hl-spacing-m-small{
      margin-bottom: $headline-spacing-large;
    }

    &.hl-spacing-m-medium{
      margin-bottom: $headline-spacing-s-large;
    }

    &.hl-spacing-m-large{
      margin-bottom: $headline-spacing-l-large;
    }
  }
}

@include media-breakpoint('l') {

  .hl-spacing-global-small{
    margin-bottom: $headline-spacing-l-small;
  }

  .hl-spacing-global-medium{
    margin-bottom: $headline-spacing-l-medium;
  }

  .hl-spacing-global-large{
    margin-bottom: $headline-spacing-l-large;
  }

  .hl-spacing-l-small{
    margin-bottom: $headline-spacing-medium;
  }

  .hl-spacing-l-medium{
    margin-bottom: $headline-spacing-s-medium;
  }

  .hl-spacing-l-large{
    margin-bottom: $headline-spacing-l-medium;
  }

  .hl-spacing-global-small{

    &.hl-spacing-l-small{
      margin-bottom: $headline-spacing-small;
    }

    &.hl-spacing-l-medium{
      margin-bottom: $headline-spacing-s-small;
    }

    &.hl-spacing-l-large{
      margin-bottom: $headline-spacing-l-small;
    }
  }

  .hl-spacing-global-medium{

    &.hl-spacing-l-small{
      margin-bottom: $headline-spacing-medium;
    }

    &.hl-spacing-l-medium{
      margin-bottom: $headline-spacing-s-medium;
    }

    &.hl-spacing-l-large{
      margin-bottom: $headline-spacing-l-medium;
    }
  }

  .hl-spacing-global-large{

    &.hl-spacing-l-small{
      margin-bottom: $headline-spacing-large;
    }

    &.hl-spacing-l-medium{
      margin-bottom: $headline-spacing-s-large;
    }

    &.hl-spacing-l-large{
      margin-bottom: $headline-spacing-l-large;
    }
  }
}

@include media-breakpoint('xl') {

  .hl-spacing-xl-small{
    margin-bottom: $headline-spacing-medium;
  }

  .hl-spacing-xl-medium{
    margin-bottom: $headline-spacing-s-medium;
  }

  .hl-spacing-xl-large{
    margin-bottom: $headline-spacing-l-medium;
  }

  .hl-spacing-global-small{

    &.hl-spacing-xl-small{
      margin-bottom: $headline-spacing-small;
    }

    &.hl-spacing-xl-medium{
      margin-bottom: $headline-spacing-s-small;
    }

    &.hl-spacing-xl-large{
      margin-bottom: $headline-spacing-l-small;
    }
  }

  .hl-spacing-global-medium{

    &.hl-spacing-xl-small{
      margin-bottom: $headline-spacing-medium;
    }

    &.hl-spacing-xl-medium{
      margin-bottom: $headline-spacing-s-medium;
    }

    &.hl-spacing-xl-large{
      margin-bottom: $headline-spacing-l-medium;
    }
  }

  .hl-spacing-global-large{

    &.hl-spacing-xl-small{
      margin-bottom: $headline-spacing-large;
    }

    &.hl-spacing-xl-medium{
      margin-bottom: $headline-spacing-s-large;
    }

    &.hl-spacing-xl-large{
      margin-bottom: $headline-spacing-l-large;
    }
  }
}
