.hl-align-left {
  text-align: left;
}

.hl-align-center {
  text-align: center;
}

.hl-align-right {
  text-align: right;
}

.hl-align-justify {
  text-align: justify;
}

@include media-breakpoint('xs') {
  .hl-align-xs-left {
    text-align: left;
  }

  .hl-align-xs-center {
    text-align: center;
  }

  .hl-align-xs-right {
    text-align: right;
  }

  .hl-align-xs-justify {
    text-align: justify;
  }
}

@include media-breakpoint('s') {
  .hl-align-s-left {
    text-align: left;
  }

  .hl-align-s-center {
    text-align: center;
  }

  .hl-align-s-right {
    text-align: right;
  }

  .hl-align-s-justify {
    text-align: justify;
  }
}

@include media-breakpoint('m') {
  .hl-align-m-left {
    text-align: left;
  }

  .hl-align-m-center {
    text-align: center;
  }

  .hl-align-m-right {
    text-align: right;
  }

  .hl-align-m-justify {
    text-align: justify;
  }
}

@include media-breakpoint('l') {
  .hl-align-l-left {
    text-align: left;
  }

  .hl-align-l-center {
    text-align: center;
  }

  .hl-align-l-right {
    text-align: right;
  }

  .hl-align-l-justify {
    text-align: justify;
  }
}

@include media-breakpoint('xl') {
  .hl-align-xl-left {
    text-align: left;
  }

  .hl-align-xl-center {
    text-align: center;
  }

  .hl-align-xl-right {
    text-align: right;
  }

  .hl-align-xl-justify {
    text-align: justify;
  }
}
