.grid.no-gutter[class*='x-spacing'] {

  > .inside {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.y-spacing-small > .inside, .y-spacing-small #container > .inside {
  padding-top: $article-spacing-xs-small;
  padding-bottom: calc(#{$article-spacing-xs-small} - #{$grid-gutter-bottom}); // ToDo: CALC funktion ergänzen um einheitlichen Wert anhand verschiedener Maßeinheiten zu berechnen.
}

.top-spacing-small > .inside {
  padding-top: $article-spacing-xs-small;
}

.bottom-spacing-small > .inside {
  padding-bottom: calc(#{$article-spacing-xs-small} - #{$grid-gutter-bottom});
}

.y-spacing-medium > .inside, .y-spacing-medium #container > .inside {
  padding-top: $article-spacing-xs-medium;
  padding-bottom: calc(#{$article-spacing-xs-medium} - #{$grid-gutter-bottom});
}

.top-spacing-medium > .inside {
  padding-top: $article-spacing-xs-medium;
}

.bottom-spacing-medium > .inside {
  padding-bottom: calc(#{$article-spacing-xs-medium} - #{$grid-gutter-bottom});
}

.y-spacing-large > .inside, .y-spacing-large #container > .inside {
  padding-top: $article-spacing-xs-large;
  padding-bottom: calc(#{$article-spacing-xs-large} - #{$grid-gutter-bottom});
}

.top-spacing-large > .inside {
  padding-top: $article-spacing-xs-large;
}

.bottom-spacing-large > .inside {
  padding-bottom: calc(#{$article-spacing-xs-large} - #{$grid-gutter-bottom});
}

@include media-breakpoint('s') {
  .y-spacing-small > .inside, .y-spacing-small #container > .inside {
    padding-top: $article-spacing-s-small;
    padding-bottom: calc(#{$article-spacing-s-small} - #{$grid-gutter-bottom});
  }

  .top-spacing-small > .inside {
    padding-top: $article-spacing-s-small;
  }

  .bottom-spacing-small > .inside {
    padding-bottom: calc(#{$article-spacing-s-small} - #{$grid-gutter-bottom});
  }

  .y-spacing-medium > .inside, .y-spacing-medium #container > .inside {
    padding-top: $article-spacing-s-medium;
    padding-bottom: calc(#{$article-spacing-s-medium} - #{$grid-gutter-bottom});
  }

  .top-spacing-medium > .inside {
    padding-top: $article-spacing-s-medium;
  }

  .bottom-spacing-medium > .inside {
    padding-bottom: calc(#{$article-spacing-s-medium} - #{$grid-gutter-bottom});
  }

  .y-spacing-large > .inside, .y-spacing-large #container > .inside {
    padding-top: $article-spacing-s-large;
    padding-bottom: calc(#{$article-spacing-s-large} - #{$grid-gutter-bottom});
  }

  .top-spacing-large > .inside {
    padding-top: $article-spacing-s-large;
  }

  .bottom-spacing-large > .inside {
    padding-bottom: calc(#{$article-spacing-s-large} - #{$grid-gutter-bottom});
  }
}

@include media-breakpoint('m') {
  .x-spacing-large > .inside {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .y-spacing-small > .inside, .y-spacing-small #container > .inside {
    padding-top: $article-spacing-m-small;
    padding-bottom: calc(#{$article-spacing-m-small} - #{$grid-gutter-bottom});
  }

  .top-spacing-small > .inside {
    padding-top: $article-spacing-m-small;
  }

  .bottom-spacing-small > .inside {
    padding-bottom: calc(#{$article-spacing-m-small} - #{$grid-gutter-bottom});
  }

  .y-spacing-medium > .inside, .y-spacing-medium #container > .inside {
    padding-top: $article-spacing-m-medium;
    padding-bottom: calc(#{$article-spacing-m-medium} - #{$grid-gutter-bottom});
  }

  .top-spacing-medium > .inside {
    padding-top: $article-spacing-m-medium;
  }

  .bottom-spacing-medium > .inside {
    padding-bottom: calc(#{$article-spacing-m-medium} - #{$grid-gutter-bottom});
  }

  .y-spacing-large > .inside, .y-spacing-large #container > .inside {
    padding-top: $article-spacing-m-large;
    padding-bottom: calc(#{$article-spacing-m-large} - #{$grid-gutter-bottom});
  }

  .top-spacing-large > .inside {
    padding-top: $article-spacing-m-large;
  }

  .bottom-spacing-large > .inside {
    padding-bottom: calc(#{$article-spacing-m-large} - #{$grid-gutter-bottom});
  }
}

@include media-breakpoint('l') {
  .x-spacing-medium > .inside, .x-spacing-medium #container > .inside {
    width: calc(1200px + 1rem);
    margin-left: auto;
    margin-right: auto;
  }

  .x-spacing-large > .inside, .x-spacing-large #container > .inside {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .y-spacing-small > .inside, .y-spacing-small #container > .inside {
    padding-top: $article-spacing-l-small;
    padding-bottom: calc(#{$article-spacing-l-small} - #{$grid-gutter-bottom});
  }

  .top-spacing-small > .inside {
    padding-top: $article-spacing-l-small;
  }

  .bottom-spacing-small > .inside {
    padding-bottom: calc(#{$article-spacing-l-small} - #{$grid-gutter-bottom});
  }

  .y-spacing-medium > .inside, .y-spacing-medium #container > .inside {
    padding-top: $article-spacing-l-medium;
    padding-bottom: calc(#{$article-spacing-l-medium} - #{$grid-gutter-bottom});
  }

  .top-spacing-medium > .inside {
    padding-top: $article-spacing-l-medium;
  }

  .bottom-spacing-medium > .inside {
    padding-bottom: calc(#{$article-spacing-l-medium} - #{$grid-gutter-bottom});
  }

  .y-spacing-large > .inside, .y-spacing-large #container > .inside {
    padding-top: $article-spacing-l-large;
    padding-bottom: calc(#{$article-spacing-l-large} - #{$grid-gutter-bottom});
  }

  .top-spacing-large > .inside {
    padding-top: $article-spacing-l-large;
  }

  .bottom-spacing-large > .inside {
    padding-bottom: calc(#{$article-spacing-l-large} - #{$grid-gutter-bottom});
  }
}

@include media-breakpoint('xl') {
  .y-spacing-small > .inside, .y-spacing-small #container > .inside {
    padding-top: $article-spacing-xl-small;
    padding-bottom: calc(#{$article-spacing-xl-small} - #{$grid-gutter-bottom});
  }

  .top-spacing-small > .inside {
    padding-top: $article-spacing-xl-small;
  }

  .bottom-spacing-small > .inside {
    padding-bottom: calc(#{$article-spacing-xl-small} - #{$grid-gutter-bottom});
  }

  .y-spacing-medium > .inside, .y-spacing-medium #container > .inside {
    padding-top: $article-spacing-xl-medium;
    padding-bottom: calc(#{$article-spacing-xl-medium} - #{$grid-gutter-bottom});
  }

  .top-spacing-medium > .inside {
    padding-top: $article-spacing-xl-medium;
  }

  .bottom-spacing-medium > .inside {
    padding-bottom: calc(#{$article-spacing-xl-medium} - #{$grid-gutter-bottom});
  }

  .y-spacing-large > .inside, .y-spacing-large #container > .inside {
    padding-top: $article-spacing-xl-large;
    padding-bottom: calc(#{$article-spacing-xl-large} - #{$grid-gutter-bottom});
  }

  .top-spacing-large > .inside {
    padding-top: $article-spacing-xl-large;
  }

  .bottom-spacing-large > .inside {
    padding-bottom: calc(#{$article-spacing-xl-large} - #{$grid-gutter-bottom});
  }
}

@media (min-width: 1332px) {

  .x-spacing-small > .inside, .x-spacing-small #container > .inside {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}
