.text-color-invert {

  h1, .h1 {
    color: $h1-color-invert;
  }

  h2, .h2 {
    color: $h2-color-invert;
  }

  h3, .h3 {
    color: $h3-color-invert;
  }

  h4, .h4 {
    color: $h4-color-invert;
  }

  h5, .h5 {
    color: $h5-color-invert;
  }

  h6, .h6 {
    color: $h6-color-invert;
  }

  p, ol, ul, .captcha_text {
    color: $text-color-invert;
  }

  a {
    color: $link-color-invert;
    text-decoration: $link-decoration-invert;

    &:hover {
      color: $link-hover-color-invert;
      text-decoration: $link-hover-decoration-invert;
    }
  }

  .icon {
    color: $text-color-invert;
  }

  .hl-design-lined:after{
    background-color: $text-color-invert;
  }

  .widget-checkbox,
  .widget-radio {

    label {
      color: $form-checkbox-radio-label-color-invert;
    }
  }
}

.text-color-regular {

  h1, .h1 {
    color: $h1-color;
  }

  h2, .h2 {
    color: $h2-color;
  }

  h3, .h3 {
    color: $h3-color;
  }

  h4, .h4 {
    color: $h4-color;
  }

  h5, .h5 {
    color: $h5-color;
  }

  h6, .h6 {
    color: $h6-color;
  }

  p, ol, ul, .captcha_text {
    color: $text-color-regular;
  }

  a {
    color: $link-color-regular;
    text-decoration: $link-decoration-regular;

    &:hover {
      color: $link-hover-color-regular;
      text-decoration: $link-hover-decoration-regular;
    }
  }

  .icon {
    color: $text-color-regular;
  }

  .hl-design-lined:after{
    background-color: $text-color-regular;
  }

  .widget-checkbox,
  .widget-radio {

    label {
      color: $form-checkbox-radio-label-color;
    }
  }
}

.link-color-invert {

  a {
    color: $link-color-invert;
    text-decoration: $link-decoration-invert;

    &:hover {
      color: $link-hover-color-invert;
      text-decoration: $link-hover-decoration-invert;
    }
  }
}

.link-color-extra {

  a {
    color: $link-color-extra;
    text-decoration: $link-decoration-extra;

    &:hover {
      color: $link-hover-color-extra;
      text-decoration: $link-hover-decoration-extra;
    }
  }
}

.link-color-regular {

  a {
    color: $link-color-regular;
    text-decoration: $link-decoration-regular;

    &:hover {
      color: $link-hover-color-regular;
      text-decoration: $link-hover-decoration-regular;
    }
  }
}
