@mixin tns-absolute($overflow: true, $selector: '.tns-controls'){
  @if $overflow {
    &.block{
      overflow: visible;
    }
  }

  .tns-outer{
    position: relative;

    #{$selector}{
      position: absolute;
      pointer-events: none;

      button{
        pointer-events: all;
      }

      @content;
    }
  }
}

@mixin tns-controls-design($design: 'inner'){
  .tns-outer {

    .tns-controls{
      @if $design == 'inner' {
        left: 0;
        right: 0;
      }
      @else{
        left: -#{$tns-controls-outer-offset};
        right: -#{$tns-controls-outer-offset};
      }
    }
  }
}

@mixin tns-nav-design($design: 'top'){
  .tns-outer {

    .tns-nav {
      @if $design == 'top' {
        top: 0;
        bottom: inherit;
        left: 0;
        right: 0;
      }
      @else if $design == 'bottom' {
        top: inherit;
        bottom: 0;
        left: 0;
        right: 0;
      }
      @else if $design == 'vl' {
        top: 0;
        bottom: 0;
        left: 0;
        right: inherit;
      }
      @else if $design == 'vr' {
        top: 0;
        bottom: 0;
        left: inherit;
        right: 0;
      }

      @if $design == 'vl' or $design == 'vr' {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 $grid-gutter-width;

        > button{
          margin: $tns-dot-spacing 0;
        }
      }
    }
  }
}

[class*="tns-controls-design"]{
  @include tns-absolute{
    display: flex;
    justify-content: space-between;
    align-items: center;

    top: 0;
    bottom: 0;
    margin: 0;
  }
}

[class*="tns-nav-design"]{
  @include tns-absolute(false, '.tns-nav');
}

.tns-controls-design-inner{
  @include tns-controls-design;
}
.tns-controls-design-outer{
  @include tns-controls-design('outer');
}

.tns-nav-design-bottom{
  @include tns-nav-design('bottom');
}
.tns-nav-design-top{
  @include tns-nav-design('top');
}

.tns-nav-design-vl{
  @include tns-nav-design('vl');
}
.tns-nav-design-vr{
  @include tns-nav-design('vr');
}

@include media-breakpoint('xs') {
  .tns-controls-design-xs-inner{
    @include tns-controls-design;
  }
  .tns-controls-design-xs-outer{
    @include tns-controls-design('outer');
  }

  .tns-nav-design-xs-bottom{
    @include tns-nav-design('bottom');
  }
  .tns-nav-design-xs-top{
    @include tns-nav-design('top');
  }

  .tns-nav-design-xs-vl{
    @include tns-nav-design('vl');
  }
  .tns-nav-design-xs-vr{
    @include tns-nav-design('vr');
  }
}

@include media-breakpoint('s') {
  .tns-controls-design-s-inner{
    @include tns-controls-design;
  }
  .tns-controls-design-s-outer{
    @include tns-controls-design('outer');
  }

  .tns-nav-design-s-bottom{
    @include tns-nav-design('bottom');
  }
  .tns-nav-design-s-top{
    @include tns-nav-design('top');
  }

  .tns-nav-design-s-vl{
    @include tns-nav-design('vl');
  }
  .tns-nav-design-s-vr{
    @include tns-nav-design('vr');
  }
}

@include media-breakpoint('m') {
  .tns-controls-design-m-inner{
    @include tns-controls-design;
  }
  .tns-controls-design-m-outer{
    @include tns-controls-design('outer');
  }

  .tns-nav-design-m-bottom{
    @include tns-nav-design('bottom');
  }
  .tns-nav-design-m-top{
    @include tns-nav-design('top');
  }

  .tns-nav-design-m-vl{
    @include tns-nav-design('vl');
  }
  .tns-nav-design-m-vr{
    @include tns-nav-design('vr');
  }
}

@include media-breakpoint('l') {
  .tns-controls-design-l-inner{
    @include tns-controls-design;
  }
  .tns-controls-design-l-outer{
    @include tns-controls-design('outer');
  }

  .tns-nav-design-l-bottom{
    @include tns-nav-design('bottom');
  }
  .tns-nav-design-l-top{
    @include tns-nav-design('top');
  }

  .tns-nav-design-l-vl{
    @include tns-nav-design('vl');
  }
  .tns-nav-design-l-vr{
    @include tns-nav-design('vr');
  }
}

@include media-breakpoint('xl') {

  .tns-controls-design-xl-inner{
    @include tns-controls-design;
  }
  .tns-controls-design-xl-outer{
    @include tns-controls-design('outer');
  }

  .tns-nav-design-xl-bottom{
    @include tns-nav-design('bottom');
  }
  .tns-nav-design-xl-top{
    @include tns-nav-design('top');
  }

  .tns-nav-design-xl-vl{
    @include tns-nav-design('vl');
  }
  .tns-nav-design-xl-vr{
    @include tns-nav-design('vr');
  }
}
