.init-tns-slider{

  > div{
    outline: 0 none;
  }
}

.tns-slider{

  &.grid-list {
    margin: 0;

    > div {
      padding: 0;
    }

    &.tns-vertical > div {
      padding: 0 divide($grid-gutter-width, 2) divide($grid-gutter-width, 2);
    }
  }
}

.tns-nav{
  text-align: center;
  margin: $grid-gutter-bottom 0;

  > button{
    display: inline-block;

    width: $tns-dot-size;
    height: $tns-dot-size;

    padding: 0;
    margin-left: $tns-dot-spacing;
    margin-right: $tns-dot-spacing;

    outline: 0 none;
    border: 0 none;
    border-radius: 50%;
    background-color: $tns-color-regular;

    &.tns-nav-active, &:hover{
      background-color: $tns-color-regular-active;
    }
  }
}

.tns-controls{
  outline: 0 none;
  margin: $grid-gutter-bottom 0;

  > button {
    outline: 0 none;
    border: 0 none;

    color: $tns-color-invert;
    background-color: $tns-color-regular;

    &:hover{
      color: $tns-color-invert-active;
      background-color: $tns-color-regular-active;
    }
  }
}

.text-color-invert, .tns-nav-color-invert{

  .tns-nav{

    > button{
      background-color: $tns-color-invert;

      &.tns-nav-active, &:hover{
        background-color: $tns-color-invert-active;
      }
    }
  }
}

.text-color-invert, .tns-controls-color-invert{

  .tns-controls{

    > button {
      color: $tns-color-regular;
      background-color: $tns-color-invert;

      &:hover{
        color: $tns-color-regular-active;
        background-color: $tns-color-invert-active;
      }
    }
  }
}

.tns-nav-color-extra{

  .tns-nav{

    > button{
      background-color: $tns-color-extra;

      &.tns-nav-active, &:hover{
        background-color: $tns-color-extra-active;
      }
    }
  }
}

.tns-controls-color-extra{

  .tns-controls{

    > button {
      color: $tns-color-invert;
      background-color: $tns-color-extra;

      &:hover {
        color: $tns-color-invert-active;
        background-color: $tns-color-extra-active;
      }
    }
  }
}

.tns-nav-color-regular{

  .tns-nav{

    > button{
      background-color: $tns-color-regular;

      &.tns-nav-active, &:hover{
        background-color: $tns-color-regular-active;
      }
    }
  }
}

.tns-controls-color-regular{

  .tns-controls{

    > button {
      color: $tns-color-invert;
      background-color: $tns-color-regular;

      &:hover {
        color: $tns-color-invert-active;
        background-color: $tns-color-regular-active;
      }
    }
  }
}
