.bg {

  &-primary {
    background-color: var(--clr-primary);
  }

  &-secondary {
    background-color: var(--clr-secondary);
  }

  &-light {
    background-color: var(--clr-light);
  }

  &-dark {
    background-color: var(--clr-dark);
  }
}
