*,
*::before,
*::after {
  @include box-sizing;
}

::selection {
  color: $selection-color;
  background: $selection-background-color;
}
::-moz-selection {
  color: $selection-color;
  background: $selection-background-color;
}

body {
  background-color: $body-bg;
  color: $text-color-regular;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  margin: 0; // Remove margin in all browsers.
  -webkit-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
  -webkit-tap-highlight-color: rgba(#000, 0); // Change the default tap highlight to be completely transparent in iOS.
}

img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

figure {
  line-height: 0;
  margin: 0;
}

figcaption {
  line-height: $line-height-base;
}

picture {
  display: block;
}

iframe {
  border: 0;
}

address {
  font-style: normal;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

// Contao defaults
.clear,
#clear {
  height:0.1px;
  font-size:0.1px;
  line-height:0.1px;
  clear:both;
}

.invisible {
  border:0;
  clip:rect(0 0 0 0);
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0 !important;
  position:absolute;
  width:1px;
}

.float_left {
  float:left;
}

.float_right {
  float:right;
}

