p {
  margin-top: 0;
  margin-bottom: $paragraph-spacing;
  word-break: break-word;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  font-weight: $link-font-weight;

  color: var(--a-clr);
  text-decoration: var(--a-td);

  &:hover {
    color: var(--a-clr-hvr);
    text-decoration: var(--a-td-hvr);
  }
}

b,
strong {
  font-weight: $strong-font-weight;
}

@include heading-basics{
  margin-top: 0;
  margin-bottom: $headline-spacing;
  line-height: $line-height-headline;

  &:last-child {
    margin-bottom: 0;
  }
}

h1, .h1 {
  color: var(--h1-clr);
  font-size: var(--h1-fs);
  font-weight: $h1-font-weight;
  letter-spacing: $h1-letter-spacing;

  #main & {
    font-size: var(--h1-c-fs);
  }
}

h2, .h2 {
  color: var(--h2-clr);
  font-size: var(--h2-fs);
  font-weight: $h2-font-weight;
  letter-spacing: $h2-letter-spacing;

  #main & {
    font-size: var(--h2-c-fs);
  }
}

h3, .h3 {
  color: var(--h3-clr);
  font-size: var(--h3-fs);
  font-weight: $h3-font-weight;
  letter-spacing: $h3-letter-spacing;

  #main & {
    font-size: var(--h3-c-fs);
  }
}

h4, .h4 {
  color: var(--h4-clr);
  font-size: var(--h4-fs);
  font-weight: $h4-font-weight;
  letter-spacing: $h4-letter-spacing;

  #main & {
    font-size: var(--h4-c-fs);
  }
}

h5, .h5 {
  color: var(--h5-clr);
  font-size: var(--h5-fs);
  font-weight: $h5-font-weight;
  letter-spacing: $h5-letter-spacing;

  #main & {
    font-size: var(--h5-c-fs);
  }
}

h6, .h6 {
  color: var(--h6-clr);
  font-size: var(--h6-fs);
  font-weight: $h6-font-weight;
  letter-spacing: $h6-letter-spacing;

  #main & {
    font-size: var(--h6-c-fs);
  }
}
