p {
  margin-top: 0;
  margin-bottom: $paragraph-spacing;
  word-break: break-word;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  font-weight: $link-font-weight;

  color: var(--a-clr);
  text-decoration: var(--a-td);

  &:hover {
    color: var(--a-clr-hvr);
    text-decoration: var(--a-td-hvr);
  }
}

b,
strong {
  font-weight: $strong-font-weight;
}

@include heading-basics{
  margin-top: 0;
  margin-bottom: $headline-spacing;
  line-height: var(--leading-hl);

  &:last-child {
    margin-bottom: 0;
  }
}

// Color and size taken from _vars.scss
@include heading-typography((
  1: (font-weight: $h1-font-weight, letter-spacing: $h1-letter-spacing),
  2: (font-weight: $h2-font-weight, letter-spacing: $h2-letter-spacing),
  3: (font-weight: $h3-font-weight, letter-spacing: $h3-letter-spacing),
  4: (font-weight: $h4-font-weight, letter-spacing: $h4-letter-spacing),
  5: (font-weight: $h5-font-weight, letter-spacing: $h5-letter-spacing),
  6: (font-weight: $h6-font-weight, letter-spacing: $h6-letter-spacing)
));
