.clear,
#clear {
  height:0.1px;
  font-size:0.1px;
  line-height:0.1px;
  clear:both;
}

.invisible {
  border:0;
  clip:rect(0 0 0 0);
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0 !important;
  position:absolute;
  width:1px;
}

.float_left {
  float:left;
}

.float_right {
  float:right;
}
