.y-spacing-small > .inside, .y-spacing-small #container > .inside {
  padding-top: 2rem;
  padding-bottom: 2rem - $grid-gutter-bottom;
}

.top-spacing-small > .inside {
  padding-top: 2rem;
}

.bottom-spacing-small > .inside {
  padding-bottom: 2rem - $grid-gutter-bottom;
}

.y-spacing-medium > .inside, .y-spacing-medium #container > .inside {
  padding-top: 2rem;
  padding-bottom: 2rem - $grid-gutter-bottom;
}

.top-spacing-medium > .inside {
  padding-top: 2rem;
}

.bottom-spacing-medium > .inside {
  padding-bottom: 2rem - $grid-gutter-bottom;
}

.y-spacing-large > .inside, .y-spacing-large #container > .inside {
  padding-top: 2rem;
  padding-bottom: 2rem - $grid-gutter-bottom;
}

.top-spacing-large > .inside {
  padding-top: 2rem;
}

.bottom-spacing-large > .inside {
  padding-bottom: 2rem - $grid-gutter-bottom;
}

@include media-breakpoint('s') {
  .y-spacing-small > .inside, .y-spacing-small #container > .inside {
    padding-top: 2rem;
    padding-bottom: 2rem - $grid-gutter-bottom;
  }

  .top-spacing-small > .inside {
    padding-top: 2rem;
  }

  .bottom-spacing-small > .inside {
    padding-bottom: 2rem - $grid-gutter-bottom;
  }

  .y-spacing-medium > .inside, .y-spacing-medium #container > .inside {
    padding-top: 2rem;
    padding-bottom: 2rem - $grid-gutter-bottom;
  }

  .top-spacing-medium > .inside {
    padding-top: 2rem;
  }

  .bottom-spacing-medium > .inside {
    padding-bottom: 2rem - $grid-gutter-bottom;
  }

  .y-spacing-large > .inside, .y-spacing-large #container > .inside {
    padding-top: 3rem;
    padding-bottom: 3rem - $grid-gutter-bottom;
  }

  .top-spacing-large > .inside {
    padding-top: 3rem;
  }

  .bottom-spacing-large > .inside {
    padding-bottom: 3rem - $grid-gutter-bottom;
  }
}

@include media-breakpoint('m') {
  .x-spacing-large > .inside {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .y-spacing-small > .inside, .y-spacing-small #container > .inside {
    padding-top: 2rem;
    padding-bottom: 2rem - $grid-gutter-bottom;
  }

  .top-spacing-small > .inside {
    padding-top: 2rem;
  }

  .bottom-spacing-small > .inside {
    padding-bottom: 2rem - $grid-gutter-bottom;
  }

  .y-spacing-medium > .inside, .y-spacing-medium #container > .inside {
    padding-top: 3rem;
    padding-bottom: 3rem - $grid-gutter-bottom;
  }

  .top-spacing-medium > .inside {
    padding-top: 3rem;
  }

  .bottom-spacing-medium > .inside {
    padding-bottom: 3rem - $grid-gutter-bottom;
  }

  .y-spacing-large > .inside, .y-spacing-large #container > .inside {
    padding-top: 5rem;
    padding-bottom: 5rem - $grid-gutter-bottom;
  }

  .top-spacing-large > .inside {
    padding-top: 5rem;
  }

  .bottom-spacing-large > .inside {
    padding-bottom: 5rem - $grid-gutter-bottom;
  }
}

@include media-breakpoint('l') {
  .x-spacing-medium > .inside, .x-spacing-medium #container > .inside {
    width: calc(1200px + 1rem);
    margin-left: auto;
    margin-right: auto;
  }

  .x-spacing-large > .inside, .x-spacing-large #container > .inside {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .y-spacing-small > .inside, .y-spacing-small #container > .inside {
    padding-top: 2rem;
    padding-bottom: 2rem - $grid-gutter-bottom;
  }

  .top-spacing-small > .inside {
    padding-top: 2rem;
  }

  .bottom-spacing-small > .inside {
    padding-bottom: 2rem - $grid-gutter-bottom;
  }

  .y-spacing-medium > .inside, .y-spacing-medium #container > .inside {
    padding-top: 4rem;
    padding-bottom: 4rem - $grid-gutter-bottom;
  }

  .top-spacing-medium > .inside {
    padding-top: 4rem;
  }

  .bottom-spacing-medium > .inside {
    padding-bottom: 4rem - $grid-gutter-bottom;
  }

  .y-spacing-large > .inside, .y-spacing-large #container > .inside {
    padding-top: 6rem;
    padding-bottom: 6rem - $grid-gutter-bottom;
  }

  .top-spacing-large > .inside {
    padding-top: 6rem;
  }

  .bottom-spacing-large > .inside {
    padding-bottom: 6rem - $grid-gutter-bottom;
  }
}

@media (min-width: 1332px) {

  .x-spacing-small > .inside, .x-spacing-small #container > .inside {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}