.grid, .grid-fluid {

  > .inside {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: grid-gutter();
    margin-left: grid-gutter();

    > div {
      flex-grow: 0;
      flex-shrink: 0;
      padding-right: grid-gutter();
      padding-left: grid-gutter();
      padding-bottom: $grid-gutter-bottom;
    }
  }

  &.no-gutter {

    > .inside {
      margin-right: 0;
      margin-left: 0;

      > div {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
      }
    }
  }

  &.align-top > .inside {
    align-items: flex-start;
  }

  &.align-middle > .inside {
    align-items: center;
  }

  &.align-bottom > .inside {
    align-items: flex-end;
  }

  &.align-baseline > .inside {
    align-items: baseline;
  }

  &.auto-height .col > .inside {
    height: 100%;
  }
}

.col-auto {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.col-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.col-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.col-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.col-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.col-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col-offset-0 {
  margin-left: 0;
}

.col-offset-1 {
  margin-left: 8.33333333%;
}

.col-offset-2 {
  margin-left: 16.66666667%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.33333333%;
}

.col-offset-5 {
  margin-left: 41.66666667%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.33333333%;
}

.col-offset-8 {
  margin-left: 66.66666667%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.33333333%;
}

.col-offset-11 {
  margin-left: 91.66666667%;
}

.col-top {
  align-self: flex-start;
}

.col-middle {
  align-self: center;
}

.col-bottom {
  align-self: flex-end;
}

.col-baseline {
  align-self: baseline
}

@media (min-width: 600px) {

  .col-xs-auto {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-xs-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-xs-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-xs-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-xs-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-xs-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-xs-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-xs-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-xs-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-xs-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-xs-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-xs-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-xs-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-xs-offset-0 {
    margin-left: 0;
  }

  .col-xs-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-xs-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-xs-offset-3 {
    margin-left: 25%;
  }

  .col-xs-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-xs-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-xs-offset-6 {
    margin-left: 50%;
  }

  .col-xs-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-xs-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-xs-offset-9 {
    margin-left: 75%;
  }

  .col-xs-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-xs-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-xs-top {
    align-self: flex-start;
  }

  .col-xs-middle {
    align-self: center;
  }

  .col-xs-bottom {
    align-self: flex-end;
  }

  .col-xs-baseline {
    align-self: baseline
  }
}

@media (min-width: 768px) {

  .col-s-auto {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-s-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-s-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-s-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-s-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-s-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-s-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-s-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-s-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-s-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-s-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-s-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-s-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-s-offset-0 {
    margin-left: 0;
  }

  .col-s-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-s-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-s-offset-3 {
    margin-left: 25%;
  }

  .col-s-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-s-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-s-offset-6 {
    margin-left: 50%;
  }

  .col-s-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-s-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-s-offset-9 {
    margin-left: 75%;
  }

  .col-s-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-s-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-s-top {
    align-self: flex-start;
  }

  .col-s-middle {
    align-self: center;
  }

  .col-s-bottom {
    align-self: flex-end;
  }

  .col-s-baseline {
    align-self: baseline
  }
}

@media (min-width: 1024px) {

  .col-m-auto {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-m-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-m-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-m-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-m-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-m-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-m-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-m-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-m-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-m-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-m-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-m-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-m-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-m-offset-0 {
    margin-left: 0;
  }

  .col-m-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-m-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-m-offset-3 {
    margin-left: 25%;
  }

  .col-m-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-m-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-m-offset-6 {
    margin-left: 50%;
  }

  .col-m-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-m-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-m-offset-9 {
    margin-left: 75%;
  }

  .col-m-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-m-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-m-top {
    align-melf: flex-start;
  }

  .col-m-middle {
    align-melf: center;
  }

  .col-m-bottom {
    align-melf: flex-end;
  }

  .col-m-baseline {
    align-melf: baseline
  }
}

@media (min-width: 1216px) {

  .grid .inside {
    margin: 0 auto;
    max-width: 1200px;
  }

  .col-l-auto {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-l-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-l-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-l-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-l-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-l-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-l-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-l-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-l-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-l-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-l-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-l-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-l-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-l-offset-0 {
    margin-left: 0;
  }

  .col-l-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-l-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-l-offset-3 {
    margin-left: 25%;
  }

  .col-l-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-l-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-l-offset-6 {
    margin-left: 50%;
  }

  .col-l-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-l-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-l-offset-9 {
    margin-left: 75%;
  }

  .col-l-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-l-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-l-top {
    align-lelf: flex-start;
  }

  .col-l-middle {
    align-lelf: center;
  }

  .col-l-bottom {
    align-lelf: flex-end;
  }

  .col-l-baseline {
    align-lelf: baseline
  }
}
