.ce_rsce_icon_text {

  .c_icon {
    text-align: center;
  }

  &.layout-top {

    .c_icon {
      margin-bottom: $component-inner-spacing;
    }
  }

  &.layout-left {

    .inside {
      display: flex;
    }

    .c_icon {
      margin-right: $component-inner-spacing;
    }
  }

  &.layout-right {

    .inside {
      display: flex;
      flex-direction: row-reverse;
    }

    .c_icon {
      margin-left: $component-inner-spacing;
    }
  }

  &.layout-float-left {

    .c_icon {
      float: left;
      margin-right: $component-inner-spacing;
    }
  }

  &.layout-float-right {

    .c_icon {
      float: right;
      margin-left: $component-inner-spacing;
    }
  }
}
