.ce_rsce_image_text {

  .c_image {
    margin-bottom: $component-inner-spacing;
  }

  &.layout-top {

    .c_image {
      left: -#{$boxed-spacing};
      margin-bottom: 0;
      position: relative;
      top: -#{$boxed-spacing};
      width: calc(100% + #{multiply($boxed-spacing, 2)});
    }
  }

  &.layout-left {

    .inside {
      display: flex;
    }

    .c_image {
      margin-right: $component-inner-spacing;
    }
  }

  &.layout-right {

    .inside {
      display: flex;
      flex-direction: row-reverse;
    }

    .c_image {
      margin-left: $component-inner-spacing;
    }
  }

  &.layout-float-left {

    .c_image {
      float: left;
      margin-right: $component-inner-spacing;
    }
  }

  &.layout-float-right {

    .c_image {
      float: right;
      margin-left: $component-inner-spacing;
    }
  }
}
