.ce_rsce_image_text {

  .c_image {
    margin-bottom: $component-inner-spacing;
  }

  &.layout-top {

    .c_image {
      left: -#{sum(nth(standardize($boxed-padding), 4), nth(standardize($boxed-border-width), 4))};
      margin-bottom: 0;
      position: relative;
      top: -#{sum(nth(standardize($boxed-padding), 1), nth(standardize($boxed-border-width), 1))};
      width: calc(100% + #{sum(nth(standardize($boxed-border-width),2),nth(standardize($boxed-padding),2),'rem')} + #{sum(nth(standardize($boxed-border-width),4),nth(standardize($boxed-padding),4),'rem')});
    }

    &.boxed {
      figure, img {
        border-radius: $boxed-border-radius $boxed-border-radius 0 0;
      }
    }
  }

  &.layout-left {

    .inside {
      display: flex;
    }

    .c_image {
      margin-right: $component-inner-spacing;
    }
  }

  &.layout-right {

    .inside {
      display: flex;
      flex-direction: row-reverse;
    }

    .c_image {
      margin-left: $component-inner-spacing;
    }
  }

  &.layout-float-left {

    .c_image {
      float: left;
      margin-right: $component-inner-spacing;
    }
  }

  &.layout-float-right {

    .c_image {
      float: right;
      margin-left: $component-inner-spacing;
    }
  }
}
