.ce_rsce_image_text {

  .image {
    margin-bottom: 1rem;
  }

  a.inside {
    color: $text-color-dark;
  }

  /*&.boxed {

    .ce_image {
      left: -1rem;
      margin-bottom: 0;
      position: relative;
      top: -1rem;
      width: calc(100% + 2rem);
    }
  }*/
}