.c_table {
  overflow-x: auto;
  overflow-y: hidden;
}

table {
  border-spacing: 0;
  text-align: left;

  min-width: 310px;
  width: 100%;

  //position caption at bottom
  caption-side: bottom;

  //border for table
  border: 1px solid rgba(0,0,0,.2);

  //Colored head and foot
  th,
  tfoot tr {
    background: $light;
    font-weight: $font-weight-semibold;
  }

  tbody {
    background: $body-bg;
  }

  caption {
    //Styles to simulate headline
    //text-align: left;
    //margin-bottom: 1rem;
    //font-size: rem(20);
    //color: $h4-color;

    //Styles for description
    text-align: center;
    color: #adadad;
    font-size: .9em;
    margin-top: 10px;
  }

  td {
    border-top: 1px solid #d9d9d9;
    padding: 4px 20px 4px 0;
  }

  .col_last {
    text-align: right;
    padding-right: 0;
  }

  .row_first {

    td {
      //border-top: 0 none;

      border-top: 1px solid #d9d9d9;
      //double border for footer and header
      //border-top: 3px double #d9d9d9;
    }
  }

  tfoot {

    td {
      border-top: 1px solid #d9d9d9;

      //double border for footer and header
      //border-top: 3px double #d9d9d9;
    }
  }

  //Styles for boxed mode
  th, td {
    padding: 15px 20px;
  }

  .col_last {
    text-align: left;
    padding-right: initial;
  }
}


