.ce_text{

  .image_container{
    width: 100%;

    &.float_right, &.float_left, &.float_above{
      margin-bottom: divide($grid-gutter-width, 2);
    }

    &.float_below{
      margin-top: divide($grid-gutter-width, 2);
    }
  }
}

@include media-breakpoint('xs') {
  .ce_text{

    &.width-25 .image_container{
      width: 25%;
    }

    &.width-33 .image_container{
      width: 33.333%;
    }

    &.width-50 .image_container{
      width: 50%;
    }

    .image_container{

      &.float_right{
        margin-left: divide($grid-gutter-width, 2);
      }

      &.float_left{
        margin-right: divide($grid-gutter-width, 2);
      }
    }
  }
}
