@mixin box-sizing($value: border-box) {
  box-sizing: $value;
}

@mixin box-shadow($value: $box-shadow, $inset: false) {
  @if($inset) {
    box-shadow: inset $value;
  } @else {
    box-shadow: $value;
  }
}

@mixin user-select($value: none) {
  -webkit-user-select: $value;
  user-select: $value;
}
