//
// Provides form mixins that are used by the framework
//
// @author Sebastian Zoglowek <https://github.com/zoglo>
//

@mixin form-field-icon ($class-suffix, $content, $blnIcon: false, $font-size: $form-input-font-size) {
  .fi-#{$class-suffix} {
    --ico:'#{$content}';
    @if $font-size != $form-input-font-size {--fi-fs:#{$font-size};}
    @content;
  }
}

@mixin form-field-image ($class-suffix, $content, $blnIcon: false, $font-size : 1em, $include: false) {
  .form-img-#{$class-suffix} {
    @if not $blnIcon {--fimg:url(#{$content});}
    @if $blnIcon or $include {
      &.widget,
      &.widget-checkbox label,
      &.widget-radio label {
        &:before {
          @if $blnIcon {
            @include icon($content, $font-size);
            display: flex;
            align-items: center;
            justify-content: center;
          }

          @if $include { @content }
        }
      }
    }
  }
}
