//
// Provides various helpers that are used by the framework
//
// @author Sebastian Zoglowek <https://github.com/zoglo>
//

// Generates dynamic custom property options
@mixin generate-properties($classPrefix, $propertyName, $list) {
  @each $entry in $list {
    $selector: '-';
    $value: ();

    @each $val in $entry {
      $selector: $selector + '-' + str-replace(#{$val},'%','pct'); // Replace % within class names
      $value: join($val,$value);
    }

    #{$classPrefix}#{$selector}{--#{$propertyName}:#{$value}}
  }
}
