@mixin icon($content, $font-size: 1em, $line-height: 1) {
  content: $content;
  display: inline-block;
  font: normal normal normal #{$font-size}/#{$line-height} $icon-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale;
  speak: none;
}
