.image-text {
  --itm-dsp: block;
  --itm-flow: row;
  --itm-justify: normal;
  --itm-align: normal;

  .c_image {
    margin-bottom: $component-inner-spacing;
  }

  .item > .inside {
    position: relative;
    display:         var(--itm-dsp);
    flex-direction:  var(--itm-flow);
    justify-content: var(--itm-justify);
    align-items:     var(--itm-align);
  }
}

.img {

  &--top {

    .c_image {
      $boxed-offset-top:   sum(nth(standardize($boxed-padding), 1), nth(standardize($boxed-border-width), 1), 'rem');
      $boxed-offset-right: sum(nth(standardize($boxed-padding), 2), nth(standardize($boxed-border-width), 2), 'rem');
      $boxed-offset-left:  sum(nth(standardize($boxed-padding), 4), nth(standardize($boxed-border-width), 4), 'rem');

      position: relative;
      inset: -#{$boxed-offset-top} 0 0 -#{$boxed-offset-left};
      width: calc(100% + #{sum($boxed-offset-right, $boxed-offset-left)});

      margin-bottom: 0;
    }

    &.boxed,
    &.boxed-list {

      figure,
      img {
        border-radius: nth(standardize($boxed-border-radius), 1) nth(standardize($boxed-border-radius), 2) 0 0;
      }
    }
  }

  &--left {
    --itm-dsp: flex;

    .c_image {
      margin-right: $component-inner-spacing;
    }
  }

  &--right {
    --itm-dsp: flex;
    --itm-flow: row-reverse;

    .c_image {
      margin-left: $component-inner-spacing;
    }
  }

  &--float-left {

    .c_image {
      float: left;
      margin-right: $component-inner-spacing;
    }
  }

  &--float-right {

    .c_image {
      float: right;
      margin-left: $component-inner-spacing;
    }
  }
}

[class*="img--abs"] {
  --itm-dsp: flex;
  --itm-flow: column;

  .c_image {
    margin-bottom: 0;
    width: 100%;
  }

  .c_text {
    position: absolute;
    padding: divide($grid-gutter-width, 2);
  }

  &.boxed,
  &.boxed-list {

    .c_text {
      max-height: calc(100% - #{sum(nth(standardize($boxed-padding),1),nth(standardize($boxed-padding),3))});
      max-width: calc(100% - #{sum(nth(standardize($boxed-padding),2),nth(standardize($boxed-padding),4))});

      overflow: hidden;
    }
  }
}

// Image-text layouts
.img--abs {

  &-top,
  &-center,
  &-bottom {

    .c_text {
      width: 100%;
    }
  }

  &-top,
  &-left-top,
  &-middle-top,
  &-right-top {
    --itm-justify: flex-start;
  }

  &-center,
  &-left-center,
  &-middle-center,
  &-right-center {
    --itm-justify: center;
  }

  &-bottom,
  &-left-bottom,
  &-middle-bottom,
  &-right-bottom {
    --itm-justify: flex-end;
  }

  &-middle-top,
  &-middle-center,
  &-middle-bottom {
    --itm-align: center;
  }

  &-right-top,
  &-right-center,
  &-right-bottom {
    --itm-align: flex-end;
  }
}
