.grid-list {
  --v-gap: var(--gtr-btm);
  --h-gap: var(--gtr);
  --items: 1;

  display: flex;
  flex-wrap: wrap;

  justify-content: var(--flex-justify);
  align-items: flex-start;

  gap: var(--v-gap) var(--h-gap);

  > div {
    width: calc((100% / var(--items)) - (((var(--items) - 1) / var(--items)) * var(--h-gap)));
  }
}

@include generate-infix-breakpoint-styles((
  '.list': (
    '&-1' : (--items: 1),
    '&-2' : (--items: 2),
    '&-3' : (--items: 3),
    '&-4' : (--items: 4),
    '&-5' : (--items: 5),
    '&-6' : (--items: 6)
  )
));
