.grid-list {
  --gap: var(--gtr-btm);
  --items: 1;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  gap: var(--gap);

  > div {
    width: calc((100% / var(--items)) - (((var(--items) - 1) / var(--items)) * var(--gap)));
  }

  &.small-gutter { --gap: var(--gtr-btm-sml) }
  &.no-gutter    { --gap: 0rem }
}

@include generate-infix-breakpoint-styles((
  '.list': (
    '&-1' : (--items: 1),
    '&-2' : (--items: 2),
    '&-3' : (--items: 3),
    '&-4' : (--items: 4),
    '&-5' : (--items: 5),
    '&-6' : (--items: 6)
  )
));

.justify {
  &-left          { justify-content: flex-start }
  &-center        { justify-content: center }
  &-right         { justify-content: flex-end }
  &-space-between { justify-content: space-between }
  &-space-around  { justify-content: space-around }
  &-space-evenly  { justify-content: space-evenly }
  &-revert        { justify-content: revert }
}

.auto-height{
  align-items: stretch;

  .inside {
    height: 100%;
  }
}
