.bg-white {
  background-color: #fff;
}

.bg-light {
  background-color: #efefef;
}

.bg-dark {
  background-color: #2d2d2d;
}

.bg-black {
  background-color: #000;
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}