button, .button {
  border-radius: 0; // config
  border-color: $primary; // config
  border-style: solid; // config
  border-width: 0; // config
  color: #fff; // config
  cursor: pointer;
  background-color: $primary; // config
  display: inline-block;
  font-size: rem(16); // config
  padding: .75rem 1.5rem; // config

  &:hover {
    background-color: darken($primary, 10); // config
    color: #fff; // config
  }

  &.secondary {
    border-color: $secondary; // config
    background-color: $secondary; // config

    &:hover {
      background-color: darken($secondary, 10); // config
      color: #fff; // config
    }
  }
}

.button-small {
  padding: .5rem 1rem; // config
}

.button-large {
  padding: 1rem 2rem; // config
}

.button-super {
  font-size: rem(18); // config
  padding: 1.5rem 3rem; // config
}

.button-outlined {
  background-color: transparent; // config
  box-shadow: inset 0 0 0 2px $primary; // config
  color: $primary; // config

  &:hover {
    background-color: $primary; // config
    color: #fff; // config
  }

  &.secondary {
    background-color: transparent; // config
    box-shadow: inset 0 0 0 2px $secondary; // config
    color: $secondary; // config

    &:hover {
      background-color: $secondary; // config
      color: #fff; // config
    }
  }
}