a.color-light{
  color: $text-color-invert;

  &:hover {
    color: darken($primary, 10);
  }
}

a.color-dark {
  color: $text-color-regular;

  &:hover {
    color: darken($primary, 10);
  }
}

a.color-primary {
  color: $primary;

  &:hover {
    color: darken($primary, 10);
  }
}

a.color-secondary {
  color: $secondary;

  &:hover {
    color: darken($primary, 10);
  }
}
