.gtr {

  // Form specific gutter
  &-f {
    --v-gap:var(--gtr-btm-sml);
    --h-gap:var(--gtr-sml);

    > .inside {
      --i-gtr:var(--gtr-half-sml);
      --h-gap-off:calc(-1 * var(--i-gtr));
    }
  }

  &-2 {
    --v-gap:var(--gtr-btm);
    --h-gap:var(--gtr);

    > .inside {
      --i-gtr:var(--gtr-half);
    }
  }

  // Small gutter
  &-1 {
    --v-gap:var(--gtr-btm-sml);
    --h-gap:var(--gtr-sml);

    > .inside {
      --i-gtr:var(--gtr-half-sml);
    }
  }

  // No gutter
  &-0 {
    --v-gap:0rem;
    --h-gap:0rem;

    > .inside {
      --i-gtr:0rem;
    }
  }
}
