.gtr {

  // Form specific gutter
  &-f {
    --v-gap:var(--gtr-half-btm);
    --h-gap:var(--gtr-half);

    > .inside {
      --gtr-x:var(--gtr-half);
    }
  }

  &-2 {
    --v-gap:var(--gtr-btm);
    --h-gap:var(--gtr);

    > .inside {
      --gtr-x:var(--gtr);
    }
  }

  &-1 {
    --v-gap:var(--gtr-half-btm);
    --h-gap:var(--gtr-half);

    > .inside {
      --gtr-x:var(--gtr-half);
    }
  }

  &-0 {
    --v-gap:0rem;
    --h-gap:0rem;

    > .inside {
      --gtr-x:0rem;
    }
  }
}
