::-webkit-input-placeholder { color: $form-input-placeholder-color; }
::-moz-placeholder { color: $form-input-placeholder-color; }
:-ms-input-placeholder { color: $form-input-placeholder-color; }
:-moz-placeholder { color: $form-input-placeholder-color; }

label, legend{
  display: inline-block;
  color: $form-label-color;
  font-size: $form-label-font-size;
  font-weight: $form-label-font-weight;
  margin-bottom: $form-label-spacing;
}

select {
  text-overflow: '';
  -webkit-appearance: none;
  -moz-appearance: none;

  option {
    color: #000;

    &[disabled]{
      color: $form-input-color-disabled;
    }
  }
}

select, input, textarea {
  font-family: $form-input-font-family;
  font-weight: $form-input-font-weight;
  font-size: $form-input-font-size;

  color: $form-input-color;
  background-color: $form-input-background;

  border-width: $form-input-border-width;
  border-style: $form-input-border-style;
  border-color: $form-input-border-color;
  border-radius: $form-input-border-radius;

  padding: $form-input-padding;
  outline: none;
  width: 100%;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &:-webkit-autofill{
    -webkit-text-fill-color: $form-input-color;
    -webkit-box-shadow: 0 0 0 1000px rgba(255,255,255,0) inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  &:hover {
    background-color: $form-input-background-hover;
    border-color: $form-input-border-color-hover;

    &::-webkit-input-placeholder { color: $form-input-placeholder-color-hover; }
    &::-moz-placeholder { color: $form-input-placeholder-color-hover; }
    &:-ms-input-placeholder { color: $form-input-placeholder-color-hover; }
    &:-moz-placeholder { color: $form-input-placeholder-color-hover; }
  }

  &:focus {
    background-color: $form-input-background-focus;
    border-color: $form-input-border-color-focus;

    &::-webkit-input-placeholder { color: $form-input-placeholder-color-focus; }
    &::-moz-placeholder { color: $form-input-placeholder-color-focus; }
    &:-ms-input-placeholder { color: $form-input-placeholder-color-focus; }
    &:-moz-placeholder { color: $form-input-placeholder-color-focus; }
  }
}

select, input{
  height: $form-input-height;
}

textarea {
  resize: none;
}

.widget {
  position: relative;

  &.error{

    select, input, textarea {
      color: $form-input-color-error;
      background: $form-input-background-error;
      border-color: $form-input-border-color-error;

      &::-webkit-input-placeholder { color: $form-input-placeholder-color-error; }
      &::-moz-placeholder { color: $form-input-placeholder-color-error; }
      &:-ms-input-placeholder { color: $form-input-placeholder-color-error; }
      &:-moz-placeholder { color: $form-input-placeholder-color-error; }
    }

    p.error{
      display: block;
      color: $form-label-color;
    }
  }

  &.mandatory:after {
    display: block;
    content: '*';

    position: absolute;
    right: 15px;
    bottom: 35px;

    font-size: 15px;
    font-weight: $font-weight-medium;
    color: $form-input-mandatory-symbol-color;
  }

  &.widget-textarea{

    &.mandatory:after {
      bottom: 20px;
    }
  }

  &.select{

    &:before {
      display: inline-block;
      content: '⮟';

      position: absolute;
      bottom: 32px;
      right: 20px;

      line-height: 12px;
      height: 12px;
      width: 1em;
      margin: auto 0;

      text-align: center;
      text-decoration: inherit;
      text-transform: none;

      color: $form-input-symbol-color;

      pointer-events: none;
      speak: none;

      transform-origin: center;
      transition: transform .2s;
    }

    &:focus-within{

      &:before{
        transform: rotateZ(180deg);
      }
    }
  }
}

.widget-checkbox, .widget-radio {
  position: relative;

  input {
    position: absolute;
    opacity: 0;
    z-index: 1;
    width: 1px;

    &:checked + label {

      &:before {
        background: $form-input-background-focus;
        border-color: $form-input-border-color-focus;
      }

      &:after {
        display: inline-block;
        content: '✔';

        position: absolute;
        left: 1px;
        top: 1px;

        width: 20px;
        line-height: 20px;
        color: $form-input-color;

        text-decoration: inherit;
        text-align: center;
        text-transform: none;
      }
    }
  }

  label {
    display: block;
    position: relative;
    z-index: 2;

    font-size: $form-checkbox-radio-label-font-size;
    padding-left: 30px;
    margin-bottom: 15px;

    cursor: pointer;

    &:before {
      display: inline-block;
      content: '';

      position: absolute;
      top: 1px;
      left: 0;

      width: $form-checkbox-radio-size;
      height: $form-checkbox-radio-size;

      border-width: $form-input-border-width;
      border-style: $form-input-border-style;
      border-color: $form-input-border-color;
      border-radius: $form-input-border-radius;

      vertical-align: middle;
    }

    &:hover:before {
      border-color: $form-input-border-color-hover;
    }
  }

  &.mandatory{

    label{
      padding-right: 15px;
    }

    &:after {
      bottom: initial;
      top: 0;
    }
  }
}

.widget-radio {

  label {

    &:before {
      border-radius: 50%;
    }
  }
}

.widget-explanation {

  p {
    color: $form-input-explanation-color;
    font-size: $form-input-explanation-font-size;

    a {
      font-size: $form-input-explanation-font-size;
    }
  }
}

.widget-captcha {
  display: flex;
  flex-direction: column;

  > * {
    order: 1;
  }

  .captcha_text {
    order: 2;
  }

  input {
    order: 3;
  }
}
