.line {

  &-top,
  &-btm {
    border: 0 $divider-style $divider-color;
  }

  &-top { border-top-width:    $divider-size; }
  &-btm { border-bottom-width: $divider-size; }

  &-inner {

    &-top,
    &-btm {

      > .inside {

        &:before,
        &:after {
          position: absolute;
          height: $divider-size;

          // inner dividers do not need to react to small- or no-gutter due to article-spacing
          left:  divide($grid-gutter-width, 2);
          right: divide($grid-gutter-width, 2);

          background-color: $divider-color;
        }
      }
    }

    &-top > .inside:before {
      content: '';
      display: block;
      top: 0;
    }

    &-btm > .inside:after {
      content: '';
      display: block;
      bottom: 0;
    }
  }
}
