.line {

  &-top,
  &-btm {
    border-style: $divider-style;
    border-color: $divider-color;
  }

  &-top { border-width: $divider-size 0 0 0 }
  &-btm { border-width: 0 0 $divider-size 0 }

  &-inner {

    &-top,
    &-btm {

      > .inside {

        &:before,
        &:after {
          position: absolute;
          height: $divider-size;

          // inner dividers do not react to small- or no-gutter
          left:  divide($grid-gutter-width, 2);
          right: divide($grid-gutter-width, 2);

          background-color: $divider-color;
        }
      }
    }

    &-top > .inside:before {
      content: '';
      display: block;
      top: 0;
    }

    &-btm > .inside:after {
      content: '';
      display: block;
      bottom: 0;
    }
  }
}
