.widget[class*='fi-'] {

  > .input-container {
    display: flex;

    border: var(--form-bdr-wdth) $form-input-border-style var(--form-clr-border);
    border-radius: $form-input-border-radius;

    &:before {
      display: flex;
      align-items: center;
      justify-content: center;

      background: $form-field-icon-background;
      color: $form-field-icon-color;
      border: var(--form-bdr-wdth) $form-input-border-style;
      border-color: inherit;

      font: normal normal normal var(--fi-fs,#{$form-field-icon-size}) $icon-font-family, $form-input-font-family;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      speak: none;

      width:     36px;
      min-width: 36px;

      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;

      margin: calc(-1*var(--form-bdr-wdth));
      margin-right: 0;

      content: var(--ico,'');
    }

    &:hover { border-color: $form-input-border-color-hover; }
    &:focus { border-color: $form-input-border-color-focus; }
  }

  input {
    border: 0 none;
    height: calc(#{$form-input-height} - 2 * var(--form-bdr-wdth));
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.error {

    > .input-container {
      border-color: $form-input-border-color-error;
    }
  }

  &.fi-right {

    > .input-container {

      &:before {
        order: 2;

        border-radius: 0;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;

        margin: calc(-1*var(--form-bdr-wdth));
        margin-left: 0;
      }
    }

    input {
      border-radius: 0;
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
    }

    &.mandatory {
      > .input-container:after { right: 38px; }
    }
  }
}

$f-icon-list: (
  m2:     'm²',
  at:     '@',
  euro:   '€',
  dollar: '$'
);

@each $pre, $ico in $f-icon-list{@include form-field-icon($pre,$ico)}
