.box {
  --b-bg:#{$boxed-background-color};
}

.box-list {
  --i-bg:#{$boxed-background-color};
}

.box,
.box-list .item {

  > .inside {
    border:        var(--b-bdr-wdth) var(--b-bdr-style) var(--b-bdr-clr);
    border-radius: var(--b-bdr-r);
  }
}

.box > .inside {
  background-color: var(--b-bg);
}

.box-shadow {

  &.box,
  &.box-list .item {

    > .inside {
      box-shadow: var(--box-shadow);
    }
  }
}
