// Conditional css if border-collapse should be cancelled out
$tb-spc: shorthandList(standardize($table-cell-spacing));
$tbc-br: shorthandList(standardize($table-cell-border-radius));

$tcollapse: collapse;

@if $tb-spc != 0 or $tbc-br != 0 {
  $tcollapse: separate !important;
}

.c_table {
  overflow: auto hidden;
}

table {
  caption-side:    $table-caption-side;

  width:           100%;
  min-width:       310px;

  border:          $table-border-style $table-border-color;
  border-width:    $table-border-width;

  text-align:      $table-text-align;

  border-collapse: $tcollapse;
  border-spacing:  $table-cell-spacing;
}

caption {
  padding:         $table-caption-padding;

  background:      $table-caption-background;
  color:           $table-caption-color;

  text-align:      $table-caption-alignment;
  font-size:       $table-caption-font-size;
}

th,
td {
  padding:         $table-cell-padding;

  border:          $table-cell-border-style $table-cell-border-color;
  border-width:    $table-cell-border-width;

  border-radius:   $table-cell-border-radius;
}

th {
  background:      $table-head-background;
  color:           $table-head-color;

  border:          $table-head-border-style $table-head-border-color;
  border-width:    $table-head-border-width;

  font-weight:     $table-head-font-weight;
}

tfoot {
  background:      $table-foot-background;
  color:           $table-foot-color;

  font-weight:     $table-foot-font-weight;
}

tbody {
  font-weight:     $table-body-font-weight;

  > tr {

    &:nth-child(2n) {
      background:  $table-body-even-background;
      color:       $table-body-even-color;
    }

    &:nth-child(2n+1) {
      background:  $table-body-odd-background;
      color:       $table-body-odd-color;
    }
  }
}
