:is(.content--text, .ce_text) {

  figure {
    width: var(--img-wdth, 100%);
    margin: var(--img-mt,0) var(--img-mr,0) var(--img-mb,0) var(--img-ml,0);
  }
}

// Consider nested text blocks (e.g. news bundle)
:is(.c_text, .content--text) {

  &.grid {
    --v-gap:#{$paragraph-spacing};
  }

  // BC-layer (see #37)
  > :is(.content--text, .ce_text) {
    margin-bottom: $paragraph-spacing;
  }
}

.float_right,
.float_left,
.float_above,
.media--right,
.media--left,
.media--above {
  --img-mb:var(--gtr-half);
}

.float_below,
.media--below {
  --img-mt:var(--gtr-half);
}

// Element self alignment
:is(.image_text, .icon_text) {
  :is(.c_text, .content--text) {
    flex: 1;
    align-self: var(--self-align, auto);
  }
}

@include media-breakpoint('xs') {

  .width-25 { --img-wdth:25%; }
  .width-33 { --img-wdth:33.3333%; }
  .width-50 { --img-wdth:50%; }

  .float_right,
  .media--right {
    --img-ml:var(--gtr-half);
  }

  .float_left,
  .media--left {
    --img-mr:var(--gtr-half);
  }
}
