// Mixins
@import "mixins/utils";
@import "mixins/breakpoint";

:root {
  --gtr:          #{$grid-gutter-width};
  --gtr-btm:      #{$grid-gutter-bottom};

  --gtr-sml:      #{$grid-gutter-small-width};
  --gtr-btm-sml:  #{$grid-gutter-small-bottom};

  --gtr-half:     #{divide($grid-gutter-width, 2)};
  --gtr-half-sml: #{divide($grid-gutter-small-width, 2)};
}

// Components
@import "grid/grid-framework";
@import "grid/grid-list";
@import "grid/grid-gutter";
@import "grid/grid-properties";
