:root {
  --body-bg:#{$body-bg};
  --body-bg-rgb:#{red($body-bg), green($body-bg), blue($body-bg)};

  --clr-primary:#{$primary};
  --clr-primary-rgb:#{red($primary), green($primary), blue($primary)};
  --clr-secondary:#{$secondary};
  --clr-secondary-rgb:#{red($secondary), green($secondary), blue($secondary)};
  --clr-light:#{$light};
  --clr-light-rgb:#{red($light), green($light), blue($light)};
  --clr-dark:#{$dark};
  --clr-dark-rgb:#{red($dark), green($dark), blue($dark)};

  --text-clr-base:#{$text-color-regular};
  --text-clr-invert:#{$text-color-invert};

  --font-family:#{inspect($font-family-base)};
  --fs-base:#{$font-size-base};

  --leading-base:#{$line-height-base};

  --fw-base:#{$font-weight-base};
  --fw-light:#{$font-weight-light};
  --fw-regular:#{$font-weight-regular};
  --fw-medium:#{$font-weight-medium};
  --fw-semibold:#{$font-weight-semibold};
  --fw-bold:#{$font-weight-bold};

  // Border
  --bdr-r:#{$border-radius};

  // Box
  --box-shadow:#{$box-shadow};
  --b-bdr-wdth:#{$boxed-border-width};
  --b-bdr-style:#{$boxed-border-style};
  --b-bdr-clr:#{$boxed-border-color};
  --b-bdr-r:#{$boxed-border-radius};

  // Selection
  --selection-clr:#{$selection-color};
  --selection-bg:#{$selection-bg};

  // Breakpoints
  @each $bp in map-keys($breakpoints) {
    --bp-#{$bp}: #{map-get($breakpoints,$bp)};
  }

  // Header
  --hdr-hght:#{$header-height};
  --header-bg:#{$header-bg};
  --nav-bhr:#{$navigation-behaviour-min-width};

  // Grid
  --columns:#{$grid-columns};
  --gtr:#{$grid-gutter-width};
  --gtr-btm:#{$grid-gutter-bottom};

  --gtr-half:#{divide($grid-gutter-width, 2)};
  --gtr-half-sml:#{divide($grid-gutter-width, 4)};
  --gtr-half-btm:#{divide($grid-gutter-bottom,2)};

  --gtr-x:var(--gtr);

  // Layout
  --mx-1:#{$left-right-margin-small};
  --mx-2:#{$left-right-margin-medium};
  --mx-3:#{$left-right-margin-large};
  --my-1:#{$top-bottom-margin-small};
  --my-2:#{$top-bottom-margin-medium};
  --my-3:#{$top-bottom-margin-large};

  --px-1:#{$left-right-padding-small};
  --px-2:#{$left-right-padding-medium};
  --px-3:#{$left-right-padding-large};
  --py-1:#{$top-bottom-padding-small};
  --py-2:#{$top-bottom-padding-medium};
  --py-3:#{$top-bottom-padding-large};

  // Element spacing
  --e-m:#{$element-spacing-small};

  // Typography
  --a-clr:#{$link-color-regular};
  --a-clr-hvr:#{$link-hover-color-regular};
  --a-td:#{$link-decoration-regular};
  --a-td-hvr:#{$link-hover-decoration-regular};

  // Headings
  --h1-clr:#{$h1-color};
  --h2-clr:#{$h2-color};
  --h3-clr:#{$h3-color};
  --h4-clr:#{$h4-color};
  --h5-clr:#{$h5-color};
  --h6-clr:#{$h6-color};

  @if ($activate-content-heading-settings) {
    --h1-c-clr: #{$h1-content-color};
    --h2-c-clr: #{$h2-content-color};
    --h3-c-clr: #{$h3-content-color};
    --h4-c-clr: #{$h4-content-color};
    --h5-c-clr: #{$h5-content-color};
    --h6-c-clr: #{$h6-content-color};
  }

  --h1-fs:#{$h1-font-size-small};
  --h2-fs:#{$h2-font-size-small};
  --h3-fs:#{$h3-font-size-small};
  --h4-fs:#{$h4-font-size-small};
  --h5-fs:#{$h5-font-size-small};
  --h6-fs:#{$h6-font-size-small};

  @if ($activate-content-heading-settings) {
    --h1-c-fs: #{$h1-content-font-size-small};
    --h2-c-fs: #{$h2-content-font-size-small};
    --h3-c-fs: #{$h3-content-font-size-small};
    --h4-c-fs: #{$h4-content-font-size-small};
    --h5-c-fs: #{$h5-content-font-size-small};
    --h6-c-fs: #{$h6-content-font-size-small};
  }

  // Headline spacings
  --hl-mb-1:#{$headline-spacing-small};
  --hl-mb-s-1:#{$headline-spacing-s-small};
  --hl-mb-l-1:#{$headline-spacing-l-small};

  --hl-mb-2:#{$headline-spacing-medium};
  --hl-mb-s-2:#{$headline-spacing-s-medium};
  --hl-mb-l-2:#{$headline-spacing-l-medium};

  --hl-mb-3:#{$headline-spacing-large};
  --hl-mb-s-3:#{$headline-spacing-s-large};
  --hl-mb-l-3:#{$headline-spacing-l-large};

  // Buttons
  --btn-1-bg:#{$button-bg-primary};
  --btn-1-clr:#{$button-color-primary};
  --btn-1-bdr-clr:#{$button-border-color-primary};
  --btn-1-bg-hvr:#{$button-hover-bg-primary};
  --btn-1-clr-hvr:#{$button-hover-color-primary};
  --btn-1-bdr-clr-hvr:#{$button-hover-border-color-primary};
  --btn-2-bg:#{$button-bg-secondary};
  --btn-2-clr:#{$button-color-secondary};
  --btn-2-bdr-clr:#{$button-border-color-secondary};
  --btn-2-bg-hvr:#{$button-hover-bg-secondary};
  --btn-2-clr-hvr:#{$button-hover-color-secondary};
  --btn-2-bdr-clr-hvr:#{$button-hover-border-color-secondary};
  --btn-3-bg:#{$button-bg-alt};
  --btn-3-clr:#{$button-color-alt};
  --btn-3-bdr-clr:#{$button-border-color-alt};
  --btn-3-bg-hvr:#{$button-hover-bg-alt};
  --btn-3-clr-hvr:#{$button-hover-color-alt};
  --btn-3-bdr-clr-hvr:#{$button-hover-border-color-alt};

  --btn-fw:#{$button-font-weight-primary};
  --btn-tf:#{$button-transform-primary};
  --btn-td:#{$button-decoration-primary};
  --btn-td-hvr:#{$button-hover-decoration-primary};

  --btn-bdr:#{$button-border-width-primary} #{$button-border-style-primary};
  --btn-bdr-r:#{$button-border-radius-primary};

  --btn-p-1:#{subList($button-padding-small,  $button-border-width-primary, 'rem', true)};
  --btn-p-2:#{subList($button-padding-medium, $button-border-width-primary, 'rem', true)};
  --btn-p-3:#{subList($button-padding-large,  $button-border-width-primary, 'rem', true)};
  --btn-p-4:#{subList($button-padding-super,  $button-border-width-primary, 'rem', true)};

  // Form
  --form-clr-txt:#{$form-input-color};
  --form-clr-bg:#{$form-input-background};
  --form-clr-border:#{$form-input-border-color};
  --form-clr-ph:#{$form-input-placeholder-color};
  --form-clr-label:#{$form-label-color};
  --form-clr-exp:#{$form-input-explanation-color};

  --cbx-clr-label:#{$form-checkbox-radio-label-color};
  --cbx-symbol-clr:#{$form-checkbox-radio-symbol-color};
  --cbx-bg-clr:#{$form-checkbox-radio-background};
  --cbx-bg-clr-hvr:#{$form-checkbox-radio-background-hover};

  --cbx-bdr-clr:#{$form-checkbox-radio-border-color};
  --cbx-bdr-clr-hvr:#{$form-checkbox-radio-border-color-hover};
}

// Typography
@include media-breakpoint('xs') {

  :root {
    --h1-fs:#{$h1-font-size-medium};
    --h2-fs:#{$h2-font-size-medium};
    --h3-fs:#{$h3-font-size-medium};
    --h4-fs:#{$h4-font-size-medium};
    --h5-fs:#{$h5-font-size-medium};
    --h6-fs:#{$h6-font-size-medium};

    @if ($activate-content-heading-settings) {
      --h1-c-fs: #{$h1-content-font-size-medium};
      --h2-c-fs: #{$h2-content-font-size-medium};
      --h3-c-fs: #{$h3-content-font-size-medium};
      --h4-c-fs: #{$h4-content-font-size-medium};
      --h5-c-fs: #{$h5-content-font-size-medium};
      --h6-c-fs: #{$h6-content-font-size-medium};
    }
  }
}

@include media-breakpoint('m') {

  :root {
    --h1-fs:#{$h1-font-size};
    --h2-fs:#{$h2-font-size};
    --h3-fs:#{$h3-font-size};
    --h4-fs:#{$h4-font-size};
    --h5-fs:#{$h5-font-size};
    --h6-fs:#{$h6-font-size};

    @if ($activate-content-heading-settings) {
      --h1-c-fs: #{$h1-content-font-size};
      --h2-c-fs: #{$h2-content-font-size};
      --h3-c-fs: #{$h3-content-font-size};
      --h4-c-fs: #{$h4-content-font-size};
      --h5-c-fs: #{$h5-content-font-size};
      --h6-c-fs: #{$h6-content-font-size};
    }
  }
}

// Layout
@include media-breakpoint($layout-column-small-break) {

  :root {
    --lyt-col-wdth:#{$layout-column-width-small};
    --lyt-col-gtr:#{$layout-column-gutter-small};
  }
}

@include media-breakpoint($layout-column-medium-break) {

  :root {
    --lyt-col-wdth:#{$layout-column-width-medium};
    --lyt-col-gtr:#{$layout-column-gutter-medium};
  }
}

@include media-breakpoint($layout-column-large-break) {

  :root {
    --lyt-col-wdth:#{$layout-column-width-large};
    --lyt-col-gtr:#{$layout-column-gutter-large};
  }
}
