:root {
  --px-0: 0;
  --px-1: #{$left-right-padding-small};
  --px-2: #{$left-right-padding-medium};
  --px-3: #{$left-right-padding-large};
  --py-0: 0;
  --py-1: #{$top-bottom-padding-small};
  --py-2: #{$top-bottom-padding-medium};
  --py-3: #{$top-bottom-padding-large};
}

@include generate-infix-breakpoint-styles((
  // Text alignments
  '.text': (
    '&-left':    ( text-align: left ),
    '&-center':  ( text-align: center ),
    '&-right':   ( text-align: right ),
    '&-justify': ( text-align: justify ),
  ),
  // Outer spacings
  '.mt': (
    '&-0': ( margin-top:    0 ),
    '&-1': ( margin-top:    $top-bottom-margin-small ),
    '&-2': ( margin-top:    $top-bottom-margin-medium ),
    '&-3': ( margin-top:    $top-bottom-margin-large )
  ),
  '.mb': (
    '&-0': ( margin-bottom: 0 ),
    '&-1': ( margin-bottom: $top-bottom-margin-small ),
    '&-2': ( margin-bottom: $top-bottom-margin-medium ),
    '&-3': ( margin-bottom: $top-bottom-margin-large )
  ),
  '.ml': (
    '&-0': ( margin-left:   0 ),
    '&-1': ( margin-left:   $left-right-margin-small ),
    '&-2': ( margin-left:   $left-right-margin-medium ),
    '&-3': ( margin-left:   $left-right-margin-large )
  ),
  '.mr': (
    '&-0': ( margin-right:  0 ),
    '&-1': ( margin-right:  $left-right-margin-small ),
    '&-2': ( margin-right:  $left-right-margin-medium ),
    '&-3': ( margin-right:  $left-right-margin-large )
  )
  // Inner spacings
));
