// Class names
$horizontal-article-spacing:   'x-spacing';
$vertical-article-spacing:     'y-spacing';
$vertical-article-spacing-top: 'top-spacing';
$vertical-article-spacing-btm: 'bottom-spacing';

$spacings-abbreviations: (
  spacing: spc,
  small:   sm,
  medium:  md,
  large:   lg
);

$spacings-list: (
  init: (
    small:  $article-spacing-xs-small,
    medium: $article-spacing-xs-medium,
    large:  $article-spacing-xs-large
  ),
  s: (
    small:  $article-spacing-s-small,
    medium: $article-spacing-s-medium,
    large:  $article-spacing-s-large
  ),
  m: (
    small:  $article-spacing-m-small,
    medium: $article-spacing-m-medium,
    large:  $article-spacing-m-large
  ),
  l: (
    small:  $article-spacing-l-small,
    medium: $article-spacing-l-medium,
    large:  $article-spacing-l-large
  ),
  xl: (
    small:  $article-spacing-xl-small,
    medium: $article-spacing-xl-medium,
    large:  $article-spacing-xl-large
  )
);

@mixin init-spacings($list) {
  // Set custom properties
  :root {
    @each $size, $spacing in $list {
      --#{map-get($spacings-abbreviations, spacing)}-#{map-get($spacings-abbreviations, $size)}: #{$spacing};
    }
  }

  @each $size, $spacing in $list {
    .#{$vertical-article-spacing}-#{$size} {
      $v-art-pd: #{map-get($spacings-abbreviations, spacing)}-#{map-get($spacings-abbreviations, $size)};
      &, #container {
        > .inside {
          padding-top:    var(--#{$v-art-pd});
          padding-bottom: var(--#{$v-art-pd});
        }
      }
    }
  }

  @each $size, $spacing in $list {
    .#{$vertical-article-spacing-top}-#{$size} {
      > .inside {
        padding-top: var(--#{map-get($spacings-abbreviations, spacing)}-#{map-get($spacings-abbreviations, $size)});
      }
    }
    .#{$vertical-article-spacing-btm}-#{$size} {
      > .inside {
        padding-bottom: var(--#{map-get($spacings-abbreviations, spacing)}-#{map-get($spacings-abbreviations, $size)});
      }
    }
  }
}

@mixin set-spacing-properties($list, $bp) {
  $list: map-get($list, $bp);
  @include media-breakpoint($bp) {
    :root {
      @each $size, $spacing in $list {
        --#{map-get($spacings-abbreviations, spacing)}-#{map-get($spacings-abbreviations, $size)}: #{$spacing};
      }
    }
    @content;
  }
}

[class*=#{$horizontal-article-spacing}] {
  // Set initial width and padding values
  --art-wdth: auto;
  --art-h-pd:   0;

  &, #container {

    > .inside {
      width:         var(--art-wdth);
      padding-left:  var(--art-h-pd);
      padding-right: var(--art-h-pd);
      margin-left:   auto;
      margin-right:  auto;
    }
  }

  &.small-gutter {
    --art-h-pd: #{divide(sub($grid-gutter-width, $grid-gutter-small-width), 2)};
  }

  &.no-gutter {
    --art-h-pd: #{divide($grid-gutter-width, 2)};
  }
}

@include init-spacings(map-get($spacings-list, 'init'));

@include set-spacing-properties($spacings-list, 's');

@include set-spacing-properties($spacings-list, 'm') {
  .#{$horizontal-article-spacing}-large {
    --art-wdth: #{$x-spacing-large-m};
  }
};

@include set-spacing-properties($spacings-list, 'l') {
  [class*=#{$horizontal-article-spacing}].small-gutter {
    --art-h-pd: 0;
  }

  .#{$horizontal-article-spacing}-medium {
    --art-wdth: #{sub(map-get($breakpoints, 'l'), $grid-gutter-width, 'px')};

    &.small-gutter {
      --art-wdth: #{sub(map-get($breakpoints, 'l'), $grid-gutter-small-width, 'px')};
    }
  }

  .#{$horizontal-article-spacing}-large {
    --art-wdth: #{$x-spacing-large-l};
  }
};

@include set-spacing-properties($spacings-list, 'xl');

@media (min-width: sum($x-spacing-small, $grid-gutter-width, 'px')) {
  .#{$horizontal-article-spacing}-small {
    --art-wdth: #{$x-spacing-small};
  }
}
