@mixin form-field-icon ($class-suffix, $content, $blnIcon: false, $font-size: $form-input-font-size) {
  .fi-#{$class-suffix} {
    --ico:'#{$content}';
    @if $blnIcon {>.input-container:before {font-family: $icon-font-family;}}
    @if $font-size != $form-input-font-size {--fi-fs:#{$font-size};}
    @content;
  }
}

@mixin form-field-image ($class-suffix, $content, $blnIcon: false,  $font-size : 1em) {
  .form-image.form-img-#{$class-suffix} {

    &.widget,
    &.widget-checkbox label,
    &.widget-radio label {

      &:before {
        @if $blnIcon {
          @include icon($content, $font-size);
          display: flex;
          align-items: center;
          justify-content: center;
        }
        @else {
          background-image: url($content);
        }
        @content
      }
    }
  }
}
