@function get-heading-classlist($valuesOnly: true) {
  $headingsList: ();

  @for $i from 1 through 6 {
    $heading: '';

    @if $valuesOnly {
      $heading: ('h#{$i}','.h#{$i}');
    }
    @else {
      $heading: ($i: 'h#{$i},.h#{$i}');
    }

    $headingsList: join($headingsList, $heading);
  }

  @return $headingsList;
}

@mixin heading-basics {
  #{list-to-string(get-heading-classlist(), ',')} {
    @content;
  }
}

@mixin heading-typography($list) {
  @each $k, $v in get-heading-classlist(false) {
    #{$v} {
      color: var(--h#{$k}-clr);
      font-size: var(--h#{$k}-fs);
      @each $class, $style in  map-get($list, $k) {
        #{$class}: $style;
      }
      #main & {font-size: var(--h#{$k}-c-fs);}
    }
  }
}
