@mixin heading-basics {
  $headingsList: ();

  @for $i from 1 through 6 {
    $heading: (
      'h#{$i}',
      '.h#{$i}'
    );

    $headingsList: join($headingsList, $heading);
  }

  #{list-to-string($headingsList, ',')} {
    @content;
  }
}
