@function rem($p, $c: $browser-context)
{
  @return unquote("#{$p / $c}rem");
}

@function divide($a, $b) {
  @return $a / $b;
}

@function multiply($a, $b) {
  @return $a * $b;
}

@function parse($n) {
  @return $n / ($n * 0 + 1);
}

@function sum($a, $b, $f: 'rem') {
  @if(unit($a) == 'px') and (unit($b) == 'px') {
    @if ($f == 'px') {
      @return $a + $b;
    }
    @else if ($f == 'rem') {
      @return unquote("#{(parse($a) + parse($b)) / $browser-context}rem");
    }
  }
  @else if(unit($a) == 'px') and (unit($b) == 'rem') {
    @if ($f == 'px') {
      @return $a + (parse($b) * $browser-context);
    }
    @else if ($f == 'rem') {
      @return (parse($a) / $browser-context) + $b;
    }
  }
  @else if(unit($a) == 'rem') and (unit($b) == 'px') {
    @if ($f == 'px') {
      @return (parse($a) * $browser-context) + $b;
    }
    @else if ($f == 'rem') {
      @return $a + (parse($b) / $browser-context);
    }
  }
  @else if(unit($a) == 'rem') and (unit($b) == 'rem') {
    @if ($f == 'px') {
      @return unquote("#{(parse($a) + parse($b)) * $browser-context}px");
    }
    @else if ($f == 'rem') {
      @return $a + $b;
    }
  }
}

@function sub($a, $b, $f: 'rem') {
  @if(unit($a) == 'px') and (unit($b) == 'px') {
    @if ($f == 'px') {
      @return $a - $b;
    }
    @else if ($f == 'rem') {
      @return unquote("#{(parse($a) - parse($b)) / $browser-context}rem");
    }
  }
  @else if(unit($a) == 'px') and (unit($b) == 'rem') {
    @if ($f == 'px') {
      @return $a - (parse($b) * $browser-context);
    }
    @else if ($f == 'rem') {
      @return (parse($a) / $browser-context) - $b;
    }
  }
  @else if(unit($a) == 'rem') and (unit($b) == 'px') {
    @if ($f == 'px') {
      @return (parse($a) * $browser-context) - $b;
    }
    @else if ($f == 'rem') {
      @return $a - (parse($b) / $browser-context);
    }
  }
  @else if(unit($a) == 'rem') and (unit($b) == 'rem') {
    @if ($f == 'px') {
      @return unquote("#{(parse($a) - parse($b)) * $browser-context}px");
    }
    @else if ($f == 'rem') {
      @return $a - $b;
    }
  }
}

@function standardize($a: ()) {
  @if (length($a) == 1){
    @return nth($a, 1) nth($a, 1) nth($a, 1) nth($a, 1);
  }
  @else if(length($a) == 2){
    @return nth($a, 1) nth($a, 2) nth($a, 1) nth($a, 2);
  }
  @else if(length($a) == 3){
    @return nth($a, 1) nth($a, 2) nth($a, 3) nth($a, 2);
  }
  @else if(length($a) == 4){
    @return $a;
  }
  @else{
    @return nth($a, 1) nth($a, 2) nth($a, 3) nth($a, 4);
  }
}

@function button-padding($padding, $border-width) {
  $a: standardize($padding);
  $b: standardize($border-width);
  $result: '';
  @for $i from 1 through 4 {
    $suffix : '';
    @if ($i != 4){
      $suffix: ' ';
    }
    @else {
      $suffix: '';
    }
    $result: #{$result} + (sub(nth($a, $i), nth($b, $i))) + $suffix;
  }
  @return unquote($result);
}
