// Prototype

.mod_article {
  --art-hght:auto;

  > .inside {
    min-height: var(--art-hght)
  }
}

@media (min-height: $article-min-vheight) {

  .mod_article {

    > .inside {
      height: var(--art-hght)
    }
  }
}

[class*=a-vh-] {
  --dock:0px;
  --art-hght:calc(var(--a-vh) - var(--dock));
}

.h-hght {
  --dock: var(--hdr-hght);
}

@if type-of($article-options-vheight) == list {

  @each $height in $article-options-vheight {
    .a-vh-#{$height} {--a-vh:#{$height}vh;}
  }
}
