.inside {
  display: block;
}

.inline {
  display: inline;
}

.box > .inside {
  padding: var(--py-1) var(--px-1);
}

.box,
.box-list {
  --i-px: var(--px-1);
  --i-py: var(--py-1);
}

#container {
  display: none;

  > .inside {
    display: flex;
    flex-direction: column;
  }
}

.layout {

  &-float {
    &-left, &-right {
      > .inside:after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }

  &-content {
    &, &-1, &-2 {
      #container {
        display: block;
      }
    }

    #right, #left {
      display: none;
    }
  }
}

#main {
  order: 10;
}

#right,
#left {
  order: 15;
}

.right-first #right,
.left-first #left {
  order: 3;
}

@include media-breakpoint($layout-column-small-break) {

  #container > .inside {
    flex-direction: row;
  }

  #main {
    width: 100%;
  }

  .layout {

    &-content {
      &-1 #main { width: calc(100% - var(--lyt-col-wdth) - var(--lyt-col-gtr)); }
      &-2 #main { width: calc(100% - ((var(--lyt-col-wdth) - var(--lyt-col-gtr)) * 2)); }
    }
  }

  #left,
  #right {
    width: var(--lyt-col-wdth);
  }

  #left {
    margin-right: var(--lyt-col-gtr);
    &, .left-first & { order: 5; }
  }

  #right {
    margin-left: var(--lyt-col-gtr);
    &, .right-first & { order: 15; }
  }
}
