// Always reset inherited margins and paddings within wrappers
.ce_wrapper {
  --w-mt:0;--w-mb:0;--w-mr:0;--w-ml:0;--w-px:0;--w-py:0;
}

// Add specificity ('.inside' is always part of anything above mod_article)
// to reset .grid .grid .inside calculations
.inside .ce_wrapper > .inside {
  padding: var(--w-px) var(--w-py);
  margin:  var(--w-mt) var(--w-mr) var(--w-mb) var(--w-ml);
}

.inside {
  display: block;
  padding: var(--py, 0) var(--px, 0);
  margin:  var(--mt, 0) var(--mr, 0) var(--mb, 0) var(--ml, 0);
}

.box {
  --px: var(--px-1);
  --py: var(--py-1);
}

.box-list {
  --i-px: var(--px-1);
  --i-py: var(--py-1);
}

a, button, .button {
  --mt:0;--mb:0;--mr:0;--ml:0;
  margin:  var(--mt) var(--mr) var(--mb) var(--ml);
}

#container {
  display: none;

  > .inside {
    display: flex;
    flex-direction: column;
  }
}

.layout-float-left,
.layout-float-right {

  > .inside:after {
    content: '';
    display: block;
    clear: both;
  }
}

.layout-content,
.layout-content-1,
.layout-content-2 {

  #container {
    display: block;
  }
}

.layout-content {

  #right,
  #left {
    display: none;
  }
}

#main {
  order: 10;
}

#right,
#left {
  order: 15;
}

.right-column-order-first #right,
.left-column-order-first #left {
  order: 3;
}

@include media-breakpoint($layout-column-small-break) {

  #container > .inside {
    flex-direction: row;
  }

  #main {
    width: 100%;
  }

  .layout-content-1 #main {
    width: calc(100% - var(--lyt-col-wdth) - var(--lyt-col-gtr));
  }

  .layout-content-2 #main{
    width: calc(100% - ((var(--lyt-col-wdth) - var(--lyt-col-gtr)) * 2));
  }

  #left {
    order: 5;
    width: var(--lyt-col-wdth);
    margin-right: var(--lyt-col-gtr);
  }

  .left-column-order-first #left {
    order: 5;
  }

  #right {
    order: 15;
    width: var(--lyt-col-wdth);
    margin-left: var(--lyt-col-gtr);
  }

  .right-column-order-first #right {
    order: 15;
  }
}
