%list-flex-direction {
  --flex-justify:center;
}

%list-flex-horizontal {

  ul {
    list-style: none;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: var(--flex-justify);

    column-gap: rem(10);
  }
}
