%list-flex-horizontal {

  ul {
    list-style: none;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center; //var(--flex-justify); // ToDo Add to navigations

    column-gap: rem(10);
  }
}
