.color-text {

  &-base {
    color: var(--text-clr-base);

    --selection-clr:#{$selection-color};
    --selection-bg:#{$selection-bg};

    --h1-clr:#{$h1-color};
    --h2-clr:#{$h2-color};
    --h3-clr:#{$h3-color};
    --h4-clr:#{$h4-color};
    --h5-clr:#{$h5-color};
    --h6-clr:#{$h6-color};

    @if ($activate-content-heading-settings) {
      --h1-c-clr: #{$h1-content-color};
      --h2-c-clr: #{$h2-content-color};
      --h3-c-clr: #{$h3-content-color};
      --h4-c-clr: #{$h4-content-color};
      --h5-c-clr: #{$h5-content-color};
      --h6-c-clr: #{$h6-content-color};
    }

    --a-clr:#{$link-color-regular};
    --a-clr-hvr:#{$link-hover-color-regular};
    --a-td:#{$link-decoration-regular};
    --a-td-hvr:#{$link-hover-decoration-regular};

    --btn-1-bg:#{$button-bg-primary};
    --btn-1-clr:#{$button-color-primary};
    --btn-1-bdr-clr:#{$button-border-color-primary};
    --btn-1-bg-hvr:#{$button-hover-bg-primary};
    --btn-1-clr-hvr:#{$button-hover-color-primary};
    --btn-1-bdr-clr-hvr:#{$button-hover-border-color-primary};
    --btn-2-bg:#{$button-bg-secondary};
    --btn-2-clr:#{$button-color-secondary};
    --btn-2-bdr-clr:#{$button-border-color-secondary};
    --btn-2-bg-hvr:#{$button-hover-bg-secondary};
    --btn-2-clr-hvr:#{$button-hover-color-secondary};
    --btn-2-bdr-clr-hvr:#{$button-hover-border-color-secondary};
    --btn-3-bg:#{$button-bg-alt};
    --btn-3-clr:#{$button-color-alt};
    --btn-3-bdr-clr:#{$button-border-color-alt};
    --btn-3-bg-hvr:#{$button-hover-bg-alt};
    --btn-3-clr-hvr:#{$button-hover-color-alt};
    --btn-3-bdr-clr-hvr:#{$button-hover-border-color-alt};

    --form-clr-label:#{$form-label-color};
    --form-clr-exp:#{$form-input-explanation-color};
    --cbx-clr-label:#{$form-checkbox-radio-label-color};

    .captcha_text {
      color: var(--text-clr-base);
    }
  }

  &-inv {
    color: var(--text-clr-invert);
    --selection-clr:#{$selection-color-invert};
    --selection-bg:#{$selection-bg-invert};

    --h1-clr:#{$h1-color-invert};
    --h2-clr:#{$h2-color-invert};
    --h3-clr:#{$h3-color-invert};
    --h4-clr:#{$h4-color-invert};
    --h5-clr:#{$h5-color-invert};
    --h6-clr:#{$h6-color-invert};

    @if ($activate-content-heading-settings) {
      --h1-c-clr: #{$h1-content-color-invert};
      --h2-c-clr: #{$h2-content-color-invert};
      --h3-c-clr: #{$h3-content-color-invert};
      --h4-c-clr: #{$h4-content-color-invert};
      --h5-c-clr: #{$h5-content-color-invert};
      --h6-c-clr: #{$h6-content-color-invert};
    }

    --a-clr:#{$link-color-invert};
    --a-clr-hvr:#{$link-hover-color-invert};
    --a-td:#{$link-decoration-invert};
    --a-td-hvr:#{$link-hover-decoration-invert};

    --btn-1-bg:#{$button-bg-primary-invert};
    --btn-1-clr:#{$button-color-primary-invert};
    --btn-1-bdr-clr:#{$button-border-color-primary-invert};
    --btn-1-bg-hvr:#{$button-hover-bg-primary-invert};
    --btn-1-clr-hvr:#{$button-hover-color-primary-invert};
    --btn-1-bdr-clr-hvr:#{$button-hover-border-color-primary-invert};
    --btn-2-bg:#{$button-bg-secondary-invert};
    --btn-2-clr:#{$button-color-secondary-invert};
    --btn-2-bdr-clr:#{$button-border-color-secondary-invert};
    --btn-2-bg-hvr:#{$button-hover-bg-secondary-invert};
    --btn-2-clr-hvr:#{$button-hover-color-secondary-invert};
    --btn-2-bdr-clr-hvr:#{$button-hover-border-color-secondary-invert};
    --btn-3-bg:#{$button-bg-alt-invert};
    --btn-3-clr:#{$button-color-alt-invert};
    --btn-3-bdr-clr:#{$button-border-color-alt-invert};
    --btn-3-bg-hvr:#{$button-hover-bg-alt-invert};
    --btn-3-clr-hvr:#{$button-hover-color-alt-invert};
    --btn-3-bdr-clr-hvr:#{$button-hover-border-color-alt-invert};

    --form-clr-label:#{$form-label-color-invert};
    --form-clr-exp:#{$form-input-explanation-color-invert};
    --cbx-clr-label:#{$form-checkbox-radio-label-color-invert};

    .captcha_text {
      color: var(--text-clr-invert);
    }
  }
}

.color-link {

  &-base {
    --a-clr:#{$link-color-regular};
    --a-clr-hvr:#{$link-hover-color-regular};
    --a-td:#{$link-decoration-regular};
    --a-td-hvr:#{$link-hover-decoration-regular};
  }

  &-inv {
    --a-clr:#{$link-color-invert};
    --a-clr-hvr:#{$link-hover-color-invert};
    --a-td:#{$link-decoration-invert};
    --a-td-hvr:#{$link-hover-decoration-invert};
  }

  &-ex {
    --a-clr:#{$link-color-extra};
    --a-clr-hvr:#{$link-hover-color-extra};
    --a-td:#{$link-decoration-extra};
    --a-td-hvr:#{$link-hover-decoration-extra};
  }
}
