$body-bg:                             #fff !default;

$primary:                             #36c !default;
$secondary:                           #9cf !default;
$light:                               #f3f3f3 !default;
$dark:                                #2b2b2b !default;

$text-color-regular:                  #000 !default;
$text-color-invert:                   #fff !default;

// Defaults
$browser-context:                     16 !default;

// Typography
$font-family-base:                    Arial, sans-serif !default;
$font-size-base:                      #{$browser-context}px !default;

$line-height-base:                    1.687 !default;
$line-height-headline:                1.2 !default;

$font-weight-base:                    400 !default;
$font-weight-light:                   300 !default;
$font-weight-regular:                 400 !default;
$font-weight-medium:                  500 !default;
$font-weight-semibold:                600 !default;
$font-weight-bold:                    700 !default;

$h1-font-size-small:                  1.5rem !default;
$h2-font-size-small:                  1.35rem !default;
$h3-font-size-small:                  1.187rem !default;
$h4-font-size-small:                  1.12rem !default;
$h5-font-size-small:                  1.031rem !default;
$h6-font-size-small:                  1rem !default;

$h1-font-size-medium:                 2rem !default;
$h2-font-size-medium:                 1.8rem !default;
$h3-font-size-medium:                 1.6rem !default;
$h4-font-size-medium:                 1.4rem !default;
$h5-font-size-medium:                 1.2rem !default;
$h6-font-size-medium:                 1rem !default;

$h1-font-size:                        2.8rem !default;
$h2-font-size:                        2.187rem !default;
$h3-font-size:                        1.437rem !default;
$h4-font-size:                        1.25rem !default;
$h5-font-size:                        1.125rem !default;
$h6-font-size:                        1rem !default;

$h1-font-weight:                      $font-weight-bold !default;
$h2-font-weight:                      $font-weight-bold !default;
$h3-font-weight:                      $font-weight-bold !default;
$h4-font-weight:                      $font-weight-bold !default;
$h5-font-weight:                      $font-weight-bold !default;
$h6-font-weight:                      $font-weight-bold !default;

$h1-color:                            $text-color-regular !default;
$h2-color:                            $text-color-regular !default;
$h3-color:                            $text-color-regular !default;
$h4-color:                            $text-color-regular !default;
$h5-color:                            $text-color-regular !default;
$h6-color:                            $text-color-regular !default;

$h1-color-invert:                     $text-color-invert !default;
$h2-color-invert:                     $text-color-invert !default;
$h3-color-invert:                     $text-color-invert !default;
$h4-color-invert:                     $text-color-invert !default;
$h5-color-invert:                     $text-color-invert !default;
$h6-color-invert:                     $text-color-invert !default;

$h1-letter-spacing:                   0rem !default;
$h2-letter-spacing:                   0rem !default;
$h3-letter-spacing:                   0rem !default;
$h4-letter-spacing:                   0rem !default;
$h5-letter-spacing:                   0rem !default;
$h6-letter-spacing:                   0rem !default;

// Links
$link-color-regular:                  $primary !default;
$link-hover-color-regular:            darken($link-color-regular, 15%) !default;
$link-decoration-regular:             none !default;
$link-hover-decoration-regular:       none !default;

$link-color-invert:                   $text-color-invert !default;
$link-hover-color-invert:             $text-color-invert !default;
$link-decoration-invert:              underline !default;
$link-hover-decoration-invert:        none !default;

$link-color-extra:                    #3bc !default;
$link-hover-color-extra:              darken($link-color-extra, 15%) !default;
$link-decoration-extra:               none !default;
$link-hover-decoration-extra:         none !default;

$strong-font-weight:                  $font-weight-bold !default;

$paragraph-spacing:                   1rem !default;
$headline-spacing:                    1rem !default;

// Responsive Headline-Spacings
$headline-spacing-small:              1rem !default;
$headline-spacing-s-small:            1.25rem !default;
$headline-spacing-l-small:            1.75rem !default;

$headline-spacing-medium:             1rem !default;
$headline-spacing-s-medium:           1.562rem !default;
$headline-spacing-l-medium:           2.187rem !default;

$headline-spacing-large:              1rem !default;
$headline-spacing-s-large:            1.875rem !default;
$headline-spacing-l-large:            3rem !default;

$x-spacing-large-m:                   900px !default;
$x-spacing-large-l:                   1100px !default;
$x-spacing-small:                     1400px !default;

// Icons
$icon-font-family:                    'fontello' !default;

$icon-size-tiny:                      2rem !default;
$icon-size-small:                     3rem !default;
$icon-size-medium:                    4rem !default;
$icon-size-large:                     5rem !default;
$icon-size-super:                     6rem !default;

$icon-shape-spacing:                  1.5rem !default;
$icon-outlined-width:                 2px !default;

// Breakpoints
$breakpoints: (
    xs: 600px,  // 37.5rem
    s:  768px,  // 48 rem
    m:  1024px, // 64rem
    l:  1230px, // 76rem
    xl: 1921px  // 120rem
) !default;

// Layout
$layout-column-small-break:           's';
$layout-column-medium-break:          'm';
$layout-column-large-break:           'l';

$layout-column-width-small:           200px !default;
$layout-column-width-medium:          300px !default;
$layout-column-width-large:           330px !default;

$layout-column-gutter-small:          1rem !default;
$layout-column-gutter-medium:         2rem !default;
$layout-column-gutter-large:          3rem !default;

// Grid
$grid-columns:                        12 !default;
$grid-gutter-width:                   2rem !default;
$grid-gutter-bottom:                  $grid-gutter-width !default;
$grid-gutter-small-width:             1rem !default;
$grid-gutter-small-bottom:            $grid-gutter-small-width !default;

// Form
$form-label-color:                    $text-color-regular !default;
$form-label-font-size:                $font-size-base !default;
$form-label-font-weight:              $font-weight-regular !default;
$form-label-spacing:                  4px !default;

$form-input-font-family:              $font-family-base !default;
$form-input-font-size:                $font-size-base !default;
$form-input-font-weight:              $font-weight-regular !default;

$form-input-height:                   44px !default;
$form-input-padding:                  10px 15px;
$form-input-border-radius:            0;
$form-input-border-width:             1px !default;
$form-input-border-style:             solid !default;

$form-input-color:                    $text-color-regular !default;
$form-input-color-disabled:           #5c5c5c !default;
$form-input-background:               #fff !default;
$form-input-border-color:             #ccc !default;
$form-input-placeholder-color:        #ccc !default;

$form-input-color-hover:              $text-color-regular !default;
$form-input-background-hover:         #fff !default;
$form-input-border-color-hover:       #b4b4b4 !default;
$form-input-placeholder-color-hover:  #b4b4b4 !default;

$form-input-color-focus:              $text-color-regular !default;
$form-input-background-focus:         #fff !default;
$form-input-border-color-focus:       #979797 !default;
$form-input-placeholder-color-focus:  #b4b4b4 !default;

$form-input-color-error:              $text-color-regular !default;
$form-input-background-error:         #ffe5df !default;
$form-input-border-color-error:       #b46869 !default;
$form-input-placeholder-color-error:  #b46869 !default;

$form-checkbox-radio-label-color:     $text-color-regular !default;
$form-checkbox-radio-label-font-size: $font-size-base !default;
$form-checkbox-radio-size:            20px !default;

$form-input-explanation-color:        $text-color-regular !default;
$form-input-explanation-font-size:    $font-size-base !default;

$form-input-mandatory-symbol-color:   #ccc !default;
$form-input-symbol-color:             $primary !default;

// Button
$button-font-size-small:              1rem;
$button-font-size-medium:             1rem;
$button-font-size-large:              1rem;
$button-font-size-super:              1rem;

$button-padding-small:                .5rem 1rem;
$button-padding-medium:               .75rem 1.5rem;
$button-padding-large:                1rem 2rem;
$button-padding-super:                1.5rem 3rem;

$button-background-regular:           $primary !default;
$button-color-regular:                $text-color-invert !default;
$button-hover-background-regular:     darken($button-background-regular, 10) !default;
$button-hover-color-regular:          $text-color-invert !default;

$button-background-alt:               transparent !default;
$button-color-alt:                    $primary !default;
$button-hover-background-alt:         $primary !default;
$button-hover-color-alt:              $text-color-invert !default;

$button-border-radius:                0 !default;
$button-border-width:                 0 !default;

// Element Spacing
$element-spacing-xs-small:            1rem !default;
$element-spacing-s-small:             1rem !default;
$element-spacing-m-small:             1.1rem !default;
$element-spacing-l-small:             1.2rem !default;
$element-spacing-xl-small:            1.3rem !default;

$element-spacing-xs-medium:           1rem !default;
$element-spacing-s-medium:            1rem !default;
$element-spacing-m-medium:            1.2rem !default;
$element-spacing-l-medium:            1.35rem !default;
$element-spacing-xl-medium:           1.5rem !default;

$element-spacing-xs-large:            1rem !default;
$element-spacing-s-large:             1rem !default;
$element-spacing-m-large:             1.5rem !default;
$element-spacing-l-large:             1.8rem !default;
$element-spacing-xl-large:            2.2rem !default;

// Divider
$divider-size:                        1px;
$divider-style:                       solid;
$divider-color:                       #ccc;

// Article
$article-spacing-xs-small:            2.5rem !default;
$article-spacing-s-small:             3.125rem !default;
$article-spacing-m-small:             3.75rem !default;
$article-spacing-l-small:             4.375rem !default;
$article-spacing-xl-small:            $article-spacing-l-small !default;

$article-spacing-xs-medium:           2.5rem !default;
$article-spacing-s-medium:            3.75rem !default;
$article-spacing-m-medium:            5rem !default;
$article-spacing-l-medium:            7.5rem !default;
$article-spacing-xl-medium:           $article-spacing-l-medium !default;

$article-spacing-xs-large:            2.5rem !default;
$article-spacing-s-large:             4.375rem !default;
$article-spacing-m-large:             5.9375rem !default;
$article-spacing-l-large:             9.375rem !default;
$article-spacing-xl-large:            $article-spacing-l-large !default;

// Boxed
$boxed-background-color:              $body-bg !default;
$boxed-padding:                       1rem !default;
$boxed-border-color:                  #e3e3e3 !default;
$boxed-border-style:                  solid !default;
$boxed-border-width:                  1px !default;
$boxed-border-radius:                 0 !default;

// Components
$component-inner-spacing:             1rem !default;

$spacing-small:                       1rem !default;
$spacing-medium:                      2rem !default;
$spacing-large:                       3rem !default;

// Navigation
$navigation-behaviour-min-width:      768px;
$navigation-item-padding:             .5rem 1rem;
$navigation-item-font-size:           $font-size-base;
$navigation-item-font-weight:         $font-weight-regular;

// Misc
$box-shadow:                          0 .5rem 1rem rgba(#000, .15) !default;

$selection-color:                     $text-color-invert !default;
$selection-background-color:          $primary !default;
