.inside {
  display: block;
}

@include media-breakpoint('s') {

  #container > .inside {
    display: flex;
  }

  #left {
    order: 5;
    width: $layout-column-width-s;
    margin-right: $layout-column-gutter;
  }

  #main {
    order: 10;
    width: 100%;
  }

  .layout-content-1 #main{
    width: calc(100% - #{$layout-column-width-s} - #{$layout-column-gutter});
  }

  .layout-content-2 #main{
    width: calc(100% - ((#{$layout-column-width-s} + #{$layout-column-gutter}) * 2));
  }

  #right {
    order: 15;
    width: $layout-column-width-s;
    margin-left: $layout-column-gutter;
  }
}

@include media-breakpoint('m') {

  #left {
    width: $layout-column-width-m;
  }

  .layout-content-1 #main{
    width: calc(100% - #{$layout-column-width-m} - #{$layout-column-gutter});
  }

  .layout-content-2 #main{
    width: calc(100% - ((#{$layout-column-width-m} + #{$layout-column-gutter}) * 2));
  }

  #right {
    width: $layout-column-width-m;
  }
}

@include media-breakpoint('l') {

  #left {
    width: $layout-column-width-l;
  }

  .layout-content-1 #main{
    width: calc(100% - #{$layout-column-width-l} - #{$layout-column-gutter});
  }

  .layout-content-2 #main{
    width: calc(100% - ((#{$layout-column-width-l} + #{$layout-column-gutter}) * 2));
  }

  #right {
    width: $layout-column-width-l;
  }
}
