.mod_article,
.article-wrapper {
  --art-hght:auto;

  > .inside {
    min-height: var(--art-hght)
  }
}

[class*=a-vh-] {
  --dock:0px;
  --art-hght:calc(var(--a-vh) - var(--dock));
}

.h-hght {
  --dock: var(--hdr-hght);
}

@if $article-options-vheight != '' {

  @each $height in $article-options-vheight {
    .a-vh-#{$height} {--a-vh:#{$height}dvh;}
  }
}

@if $article-options-height != '' {
  [class*=a-h-] {
    --art-hght:calc(var(--a-h));
  }

  @each $height in $article-options-height {
    .a-h-#{$height} {--a-h:#{$height};}
  }
}
