.box {
  > .inside { padding: var(--py-1) var(--px-1); }
  > [class*='i-p-'] { padding: var(--i-py) var(--i-px); }
}

.box-list {
  --i-px:var(--px-1);
  --i-py:var(--py-1);
}

.ce_rsce_image_list {
  --e-m:0;
}
