.inside {
  display: block;
}

// @deprecated - to be removed in CTM 3
.inline { display: inline; }
.inline-block { display: inline-block; }
.inline-flex { display: inline-flex; }
.flex { display: flex; }

.sticky > .inside {
  position: sticky;
  top: 0;
}

#container {

  > .inside {
    display: flex;
    flex-direction: column;
    row-gap: var(--gtr-btm);
  }
}

.layout {

  &-float {
    &-left, &-right {
      > .inside:after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }
}

#main {
  flex: 1;
  order: 10;
}

#right,
#left {
  order: 15;

  // Reset grid
  > .inside {
    margin-left: revert;
    margin-right: revert;
  }

  // Reset articles
  .mod_article {
    padding-left: 0;
    padding-right: 0;
  }
}

.right-first #right,
.left-first #left {
  order: 3;
}

@include media-breakpoint($layout-column-small-break) {

  #container > .inside {
    flex-direction: row;
    column-gap: var(--lyt-col-gtr);
  }

  #left,
  #right {
    width: var(--lyt-col-wdth);
  }

  #left {
    &, .left-first & { order: 5; }
  }

  #right {
    &, .right-first & { order: 15; }
  }
}
