.inside {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.sticky > .inside {
  position: sticky;
  top: 0;
}

#container {
  display: none;

  > .inside {
    display: flex;
    flex-direction: column;
  }
}

.layout {

  &-float {
    &-left, &-right {
      > .inside:after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }

  &-content {
    &, &-1, &-2 {
      #container {
        display: block;
      }
    }

    #right, #left {
      display: none;
    }
  }
}

#main {
  order: 10;
}

#right,
#left {
  order: 15;

  // Reset grid
  > .inside {
    margin-left: revert;
    margin-right: revert;
  }

  // Reset articles
  .mod_article {
    padding-left: 0;
    padding-right: 0;
  }
}

.right-first #right,
.left-first #left {
  order: 3;
}

@include media-breakpoint($layout-column-small-break) {

  #container > .inside {
    flex-direction: row;
  }

  #main {
    width: 100%;
  }

  .layout {

    &-content {
      &-1 #main { width: calc(100% - var(--lyt-col-wdth) + var(--lyt-col-gtr)); }
      &-2 #main { width: calc(100% - ((var(--lyt-col-wdth) + var(--lyt-col-gtr)) * 2)); }
    }
  }

  #left,
  #right {
    width: calc(var(--lyt-col-wdth) + var(--lyt-col-gtr));
    min-width: calc(var(--lyt-col-wdth) + var(--lyt-col-gtr));;
  }

  #left {
    &, .left-first & { order: 5; }
    > .inside { margin-right: var(--lyt-col-gtr); }
  }

  #right {
    &, .right-first & { order: 15; }
    > .inside { margin-left: var(--lyt-col-gtr); }
  }
}
