%list-flex-direction {
  --justify:center;
}

%list-auto {
  --justify:center;
  --i:-!important;
}

%list-flex-horizontal {

  ul {
    list-style: none;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: var(--justify);

    column-gap: rem(10);
  }
}
