$list-responsive-ratios: (
  (16:9),
  (16:10),
  (21:9),
  (4:3),
  (3:2)
);

.audio_container audio {
  max-width: 100%;
}

.video_container video {
  max-width: 100%;
  height: auto;
}

:is(.responsive, .aspect) {
  position: relative;

  :is(a, button, picture, img) {
    --objf: cover;
    display: block;
    height: 100%;
  }

  iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
}

@each $ratio in $list-responsive-ratios {
  @each $x, $y in $ratio {
    .responsive.ratio-#{$x}#{$y},.aspect--#{$x}\:#{$y} {aspect-ratio: #{$x}/#{$y}}
  }
}
