$list-responsive-ratios: (
  (16:9),
  (16:10),
  (21:9),
  (4:3),
  (3:2)
);

.audio_container audio {
  max-width: 100%;
}

.video_container video {
  max-width: 100%;
  height: auto;
}

// @deprecated - to be removed in CTM 2.2
.responsive {
  height: 0;
}

.responsive,
.aspect {
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@each $ratio in $list-responsive-ratios {
  @each $x, $y in $ratio {
    .ratio-#{$x}#{$y} {padding-bottom: shortPercentage(divide($y,$x))} // @deprecated - to be removed in CTM 2.1
    .aspect--#{$x}\:#{$y} {aspect-ratio: #{$x}/#{$y}}
  }
}
