$accordion-handle-icon-font-family:   var(--font-family) !default;
$accordion-handle-icon:               "+" !default;
$accordion-handle-icon-active:        "−" !default;

$accordion-handle-icon-font-size:     rem(30) !default;
$accordion-handle-icon-offset:        rem(8) !default;

$accordion-handle-icon-width:         auto !default;
$accordion-handle-icon-height:        auto !default;
$accordion-handle-icon-line-height:   1 !default;
$accordion-handle-icon-font-weight:   var(--fw-base) !default;

$accordion-handle-icon-direction:     left;

@mixin accordion-handle-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-family: $accordion-handle-icon-font-family;
  content:     var(--a-ico,'');

  line-height: $accordion-handle-icon-line-height;

  font-size:   $accordion-handle-icon-font-size;
  font-weight: $accordion-handle-icon-font-weight;
  min-width:   $accordion-handle-icon-width;
  height:      $accordion-handle-icon-height;
}

// Inner container for spacing and margin
//.acc-content > .inside {
//
//}

.ctm-accordion {
  &-content { overflow: hidden; }
  &-handle {
    --a-ico:'#{$accordion-handle-icon}';
    &.open {--a-ico:'#{$accordion-handle-icon-active}';}

    display: flex;
    align-items: center;
    column-gap: $accordion-handle-icon-offset;

    margin-bottom: 0;
    cursor: pointer;

    @if $accordion-handle-icon-direction == left {
      &:before { @include accordion-handle-icon;}
    }
    @else if $accordion-handle-icon-direction == right {
      &:after { @include accordion-handle-icon;
        margin-left: auto;
      }
    }

    // Reset margin from any element within handle
    * { margin-bottom: 0; }
  }
}
