.box,
.box-list .item {

  // ToDo: Add possibility to set generated backgrounds and their options (within inside containers)
  > .inside {
    background:    var(--box-bg);
    border:        var(--bdr-wdth) var(--bdr-style) var(--bdr-clr);
    border-radius: var(--bdr-r);
  }
}

.box-shadow {

  &.box,
  &.box-list .item {

    > .inside {
      box-shadow: var(--box-shadow);
    }
  }
}
