// ToDo: Add possibility to set generated backgrounds and their options (within inside containers)
.box,
.box-list {
  --box-bg:#{$boxed-background-color};
  --item-bg:#{$boxed-background-color};
}

.box,
.box-list .item {

  > .inside {
    border:        var(--bdr-wdth) var(--bdr-style) var(--bdr-clr);
    border-radius: var(--bdr-r);
  }
}

.box > .inside {
  background-color: var(--box-bg);
}

.box-shadow {

  &.box,
  &.box-list .item {

    > .inside {
      box-shadow: var(--box-shadow);
    }
  }
}
