a,
button,
input[type="submit"] {
  // Allow is-block even if no button class is selected
  &.is-block {
    width: 100%;
    justify-content: center;
  }
}

button,
a.button,
input.button {
  background-color: var(--btn-bg);
  color: var(--btn-clr);

  font-weight: var(--btn-fw);
  text-transform: var(--btn-tf);

  border: var(--btn-bdr);
  border-radius: var(--btn-bdr-r);

  padding: var(--btn-p-2);

  cursor: pointer;
  display: inline-flex;

  font-family: var(--font-family);
  font-size: $button-font-size-medium;
  line-height: $button-line-height;
  text-decoration: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover {
    background-color: var(--btn-bg-hvr);
    color: var(--btn-clr-hvr);
    border-color: var(--btn-bdr-clr-hvr);
  }

  &.size {

    &--small {
      padding: var(--btn-p-1);
      font-size: $button-font-size-small;
    }

    &--large {
      padding: var(--btn-p-3);
      font-size: $button-font-size-large;
    }

    &--super {
      padding: var(--btn-p-4);
      font-size: $button-font-size-super;
    }
  }
}

// Designs
.btn {

  &--secondary {
    --btn-bg:#{$button-bg-secondary};
    --btn-bg-hvr:#{$button-hover-bg-secondary};
    --btn-clr:#{$button-color-secondary};
    --btn-clr-hvr:#{$button-hover-color-secondary};

    --btn-fw:#{$button-font-weight-secondary};
    --btn-tf:#{$button-transform-secondary};

    --btn-bdr:#{$button-border-width-secondary} #{$button-border-style-secondary} #{$button-border-color-secondary};
    --btn-bdr-r:#{$button-border-radius-secondary};
    --btn-bdr-clr-hvr:#{$button-hover-border-color-secondary};

    --btn-p-1:#{subList($button-padding-small,  $button-border-width-secondary, 'rem', true)};
    --btn-p-2:#{subList($button-padding-medium, $button-border-width-secondary, 'rem', true)};
    --btn-p-3:#{subList($button-padding-large,  $button-border-width-secondary, 'rem', true)};
    --btn-p-4:#{subList($button-padding-super,  $button-border-width-secondary, 'rem', true)};
  }

  &--alt {
    --btn-bg:#{$button-bg-alt};
    --btn-bg-hvr:#{$button-hover-bg-alt};
    --btn-clr:#{$button-color-alt};
    --btn-clr-hvr:#{$button-hover-color-alt};

    --btn-fw:#{$button-font-weight-alt};
    --btn-tf:#{$button-transform-alt};

    --btn-bdr:#{$button-border-width-alt} #{$button-border-style-alt} #{$button-border-color-alt};
    --btn-bdr-r:#{$button-border-radius-alt};
    --btn-bdr-clr-hvr:#{$button-hover-border-color-alt};

    --btn-p-1:#{subList($button-padding-small,  $button-border-width-alt, 'rem', true)};
    --btn-p-2:#{subList($button-padding-medium, $button-border-width-alt, 'rem', true)};
    --btn-p-3:#{subList($button-padding-large,  $button-border-width-alt, 'rem', true)};
    --btn-p-4:#{subList($button-padding-super,  $button-border-width-alt, 'rem', true)};
  }
}
