a,
button,
input[type="submit"] {
  // Allow is-block even if no button class is selected
  &.is-block {
    width: 100%;
    justify-content: center;
  }
}

button,
.button {
  background-color: var(--btn-1-bg);
  color: var(--btn-1-clr);

  font-weight: var(--btn-fw);
  text-transform: var(--btn-tf);
  text-decoration: var(--btn-td);

  border: var(--btn-bdr);
  border-color: var(--btn-1-bdr-clr);
  border-radius: var(--btn-bdr-r);

  padding: var(--btn-p-2);

  cursor: pointer;
  display: inline-flex;

  font-family: var(--font-family);
  font-size: $button-font-size-medium;
  line-height: $button-line-height;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover {
    background-color: var(--btn-1-bg-hvr);
    color: var(--btn-1-clr-hvr);
    border-color: var(--btn-1-bdr-clr-hvr);
    text-decoration: var(--btn-td-hvr);
  }

  &.size {

    &--small {
      padding: var(--btn-p-1);
      font-size: $button-font-size-small;
    }

    &--large {
      padding: var(--btn-p-3);
      font-size: $button-font-size-large;
    }

    &--super {
      padding: var(--btn-p-4);
      font-size: $button-font-size-super;
    }
  }
}

// Designs
.btn {

  &--secondary {
    background-color: var(--btn-2-bg);
    color: var(--btn-2-clr);
    border-color: var(--btn-2-bdr-clr);

    --btn-fw:#{$button-font-weight-secondary};
    --btn-tf:#{$button-transform-secondary};
    --btn-td:#{$button-decoration-secondary};
    --btn-td-hvr:#{$button-hover-decoration-secondary};

    --btn-bdr:#{$button-border-width-secondary} #{$button-border-style-secondary};
    --btn-bdr-r:#{$button-border-radius-secondary};

    --btn-p-1:#{subList($button-padding-small,  $button-border-width-secondary, 'rem', true)};
    --btn-p-2:#{subList($button-padding-medium, $button-border-width-secondary, 'rem', true)};
    --btn-p-3:#{subList($button-padding-large,  $button-border-width-secondary, 'rem', true)};
    --btn-p-4:#{subList($button-padding-super,  $button-border-width-secondary, 'rem', true)};

    &:hover {
      background-color: var(--btn-2-bg-hvr);
      color: var(--btn-2-clr-hvr);
      border-color: var(--btn-2-bdr-clr-hvr);
    }
  }

  &--alt {
    background-color: var(--btn-3-bg);
    color: var(--btn-3-clr);
    border-color: var(--btn-3-bdr-clr);

    --btn-fw:#{$button-font-weight-alt};
    --btn-tf:#{$button-transform-alt};
    --btn-td:#{$button-decoration-alt};
    --btn-td-hvr:#{$button-hover-decoration-alt};

    --btn-bdr:#{$button-border-width-alt} #{$button-border-style-alt} #{$button-border-color-alt};
    --btn-bdr-r:#{$button-border-radius-alt};

    --btn-p-1:#{subList($button-padding-small,  $button-border-width-alt, 'rem', true)};
    --btn-p-2:#{subList($button-padding-medium, $button-border-width-alt, 'rem', true)};
    --btn-p-3:#{subList($button-padding-large,  $button-border-width-alt, 'rem', true)};
    --btn-p-4:#{subList($button-padding-super,  $button-border-width-alt, 'rem', true)};

    &:hover {
      background-color: var(--btn-3-bg-hvr);
      color: var(--btn-3-clr-hvr);
      border-color: var(--btn-3-bdr-clr-hvr);
    }
  }
}
