.c_icon {
  text-align: inherit;
}

.icon {
  --ico-size: #{$icon-size-medium};
  display: inline-block;

  &:before {
    @include icon(attr(data-icon));
    font-size: var(--ico-size);
    height:    var(--ico-size);
    width:     var(--ico-size);
  }

  &.size {
    &--tiny  { --ico-size: #{$icon-size-tiny}};
    &--small { --ico-size: #{$icon-size-small}};
    &--large { --ico-size: #{$icon-size-large}};
    &--super { --ico-size: #{$icon-size-super}};
  }

  &.filled {
    background: $text-color-regular;
    color: $text-color-invert;
    padding: $icon-shape-spacing;
  }

  &.outline {
    box-shadow: inset 0 0 0 2px $text-color-regular;
    padding: $icon-shape-spacing;
  }

  &.rounded {
    border-radius: 50%;
  }

  &.color-primary {
    color: $primary;

    &.filled {
      background: $primary;
      color: $text-color-invert;
    }

    &.outline {
      box-shadow: inset 0 0 0 $icon-outlined-width $primary;
    }
  }

  &.color-secondary {
    color: $secondary;

    &.filled {
      background: $secondary;
      color: $text-color-invert;
    }

    &.outline {
      box-shadow: inset 0 0 0 $icon-outlined-width $secondary;
    }
  }

  &.color-dark {
    color: $text-color-regular;

    &.filled {
      background: $text-color-regular;
      color: $text-color-invert;
    }

    &.outline {
      box-shadow: inset 0 0 0 $icon-outlined-width $text-color-regular;
    }
  }

  &.color-light {
    color: $text-color-invert;

    &.filled {
      background: $text-color-invert;
      color: $text-color-regular;
    }

    &.outline {
      box-shadow: inset 0 0 0 $icon-outlined-width $text-color-invert;
    }
  }
}


[class^="i-"],
[class*=" i-"] {

  &.i-is-r {
    flex-direction: row-reverse;

    &:before {
      padding: 0 0 0 0.3em;
    }
  }
}

a {
  &[class^="i-"],
  &[class*=" i-"] {
    display: inline-flex;
  }
}
