.icon_text {

  &.item, .item {
    > .inside {
      display: var(--itm-dsp, block);
      flex-direction: var(--itm-flow, row);
    }
  }
}

.icon {

  &_top {

    .c_icon {
      margin-bottom: $component-inner-spacing;
    }
  }

  &_left {
    --itm-dsp: flex;

    .c_icon {
      margin-right: $component-inner-spacing;
    }
  }

  &_right {
    --itm-dsp: flex;
    --itm-flow: row-reverse;

    .c_icon {
      margin-left: $component-inner-spacing;
    }
  }

  &_float-left {

    .c_icon {
      float: left;
      margin-right: $component-inner-spacing;
    }
  }

  &_float-right {

    .c_icon {
      float: right;
      margin-left: $component-inner-spacing;
    }
  }
}
