.icon_text {
  --itm-dsp: block;
  --itm-flow: row;

  &.item, .item {
    > .inside {
      display: var(--itm-dsp);
      flex-direction: var(--itm-flow);
    }
  }
}

.icon {

  &--top {

    .c_icon {
      margin-bottom: $component-inner-spacing;
    }
  }

  &--left {

    .inside {
      display: flex;
    }

    .c_icon {
      margin-right: $component-inner-spacing;
    }
  }

  &--right {
    --itm-dsp: flex;
    --itm-flow: row-reverse;

    .c_icon {
      margin-left: $component-inner-spacing;
    }
  }

  &--float-left {

    .c_icon {
      float: left;
      margin-right: $component-inner-spacing;
    }
  }

  &--float-right {

    .c_icon {
      float: right;
      margin-left: $component-inner-spacing;
    }
  }
}
