.image_text {
  --itm-dsp: block;
  --itm-flow: row;
  --itm-justify: normal;
  --itm-align: normal;

  &.item, .item {
    > .inside {
      position: relative;
      display:         var(--itm-dsp);
      flex-direction:  var(--itm-flow);
      justify-content: var(--itm-justify);
      align-items:     var(--itm-align);
    }
  }
}

.img {

  &--top {

    .c_image {
      position: relative;
      inset: calc(-1 * var(--i-py)) 0 0 calc(-1 * var(--i-px));
      width: calc(100% + var(--i-px) + var(--i-px));

      margin-bottom: 0;
    }

    &.box,
    &.box-list {

      figure,
      img {
        border-radius: nth(standardize($boxed-border-radius), 1) nth(standardize($boxed-border-radius), 2) 0 0;
      }
    }
  }

  // ToDo: Add new modes:
  // - left & right (borderless) like top-behaviour

  &--left {
    --itm-dsp: flex;

    .c_image {
      margin-right: $component-inner-spacing;
    }
  }

  &--right {
    --itm-dsp: flex;
    --itm-flow: row-reverse;

    .c_image {
      margin-left: $component-inner-spacing;
    }
  }

  &--float-left {

    .c_image {
      float: left;
      margin-right: $component-inner-spacing;
    }
  }

  &--float-right {

    .c_image {
      float: right;
      margin-left: $component-inner-spacing;
    }
  }
}

[class*="img--abs"] {
  --itm-dsp: flex;
  --itm-flow: column;

  .c_image {
    margin-bottom: 0;
    width: 100%;
  }

  .c_text {
    position: absolute;
    padding: divide($grid-gutter-width, 2);
  }

  &.box,
  &.box-list {

    .c_text {
      max-height: calc(100% + var(--i-py) + var(--i-py));
      max-width: calc(100% + var(--i-px) + var(--i-px));

      overflow: hidden;
    }
  }
}

// Image-text layouts
.img--abs {

  &-top,
  &-center,
  &-bottom {

    .c_text {
      width: 100%;
    }
  }

  &-top,
  &-left-top,
  &-middle-top,
  &-right-top {
    --itm-justify: flex-start;
  }

  &-center,
  &-left-center,
  &-middle-center,
  &-right-center {
    --itm-justify: center;
  }

  &-bottom,
  &-left-bottom,
  &-middle-bottom,
  &-right-bottom {
    --itm-justify: flex-end;
  }

  &-middle-top,
  &-middle-center,
  &-middle-bottom {
    --itm-align: center;
  }

  &-right-top,
  &-right-center,
  &-right-bottom {
    --itm-align: flex-end;
  }
}
