// Item backgrounds | e.g. grid-list items and box-list items (.item)
.ibg {
  &-primary   {--i-bg:var(--clr-primary);}
  &-secondary {--i-bg:var(--clr-secondary);}
  &-light     {--i-bg:var(--clr-light);}
  &-dark      {--i-bg:var(--clr-dark);}
}
