ul, ol {
  margin: 0;
  column-count:var(--i, auto);
}

li {
  padding: rem(3) 0;

  .c_list.flow-y & { width: calc(100% / var(--i)); }
  @at-root .#{&} {
    &-icon { list-style: none; padding-inline-start: rem(20); }
    &-none { list-style: none; padding-inline-start: 0; }
  }
}
