ul, ol {
  margin: 0;
  column-count:var(--i, auto);
}

li {
  padding: rem(3) 0;

  .c_list.flow-y & { width: calc(100% / var(--i)); }
  @at-root .#{&} {
    &-icon { list-style: none; padding-inline-start: rem(20); }
    &-none { list-style: none; padding-inline-start: 0; }
    &-clr {
      li::marker, [class^="i-"]:before, [class*=" i-"]:before {
        color: var(--li-clr, inherit);
      }
    }
  }

  // Avoid column breaks for MacOS and Safari
  .c_list & {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
}

.color-li {
  &-base      { --li-clr:var(--text-clr-base); }
  &-inv       { --li-clr:var(--text-clr-invert); }
  &-primary   { --li-clr:var(--clr-primary); }
  &-secondary { --li-clr:var(--clr-secondary); }
  &-dark      { --li-clr:var(--clr-dark); }
  &-light     { --li-clr:var(--clr-light); }
}
