.c_image {
  margin-bottom: var(--e-m);
}

.no-scale {

  img {
    width: initial;
  }
}

.img {

  &-align {
    --img-mx:0;
    img { display: block; margin:var(--img-mx);}
  }

  &--left   {--img-mx:0 auto 0 0;}
  &--center {--img-mx:0 auto;}
  &--right  {--img-mx:0 0 0 auto;}
}

img,
video {
  object-fit: var(--objf, fill);
  object-position: var(--objx,50%) var(--objy,50%);
  aspect-ratio: var(--ar,auto);
}

.obj {
  // Object-fit | default: 'fill'
  &--contain   {--objf:contain;}
  &--cover     {--objf:cover;}
  &--none      {--objf:none;}
  &--scaledown {--objf:scale-down;}
  &--stretch   {
    --img-hght:100%;
    --objf:cover; // Auto-height custom property
    img, figure, picture { height: 100%; }
  }

  // Object-position horizontal | default: '50%'
  &--left    {--objx:left;}
  &--right   {--objx:right;}

  // Object-position vertical | default: '50%'
  &--top     {--objy:top;}
  &--btm     {--objy:bottom;}
}

// Aspect ratios for images and videos
@if type-of($aspect-ratios) == list {
  @each $ratio in $aspect-ratios {
    @each $x, $y in $ratio {
      .ar-#{$x}-#{$y} {
        --ar:#{$x}/#{$y};
      }
    }
  }
}
