@media (min-width: $navigation-behaviour-min-width) {
  .nav {
    overflow: visible;

    ul {
      display: flex;
      list-style: none;
      padding: 0;
    }

    strong {
      cursor: default;
    }

    a,
    strong {
      display: block;
      padding: $navigation-item-padding;
      font-size: $navigation-item-font-size;
      font-weight: $navigation-item-font-weight;
      white-space: nowrap;
    }

    .level_1 {
      justify-content: var(--flex-justify);

      ul {
        display: none;
      }
    }

    // Vertical
    &-y {

      ul {
        flex-direction: column;
      }

      .level_1 ul {
        display: flex;
      }
    }

    // Horizontal
    &-x {

      .level_1 {

        ul {
          display: none;
          position: absolute;
          flex-direction: column;
        }
      }

      .level_2 {

        li {
          min-width: rem(200);
        }
      }

      .submenu {
        position: relative;

        &:hover {
          z-index: 1;

          > ul {
            display: flex;
          }
        }
      }

      &.nav {

        .level_1 {

          ul ul {
            top: 0;
            left: 100%;
          }
        }

        li.nav-left {

          ul {
            right: 100%;
            left: initial;
          }

          .level_2 {
            right: 0;
          }
        }

        // Vertical
        &-y {

          .level_1 {

            ul {
              top: 0;
              left: 100%;
            }
          }
        }
      }
    }
  }
}
