.ce_text {

  .image_container {
    width: var(--img-wdth, 100%);

    &.float {

      &_right,
      &_left,
      &_above {
        margin-bottom: divide($grid-gutter-width, 2);
      }

      &_below {
        margin-top: divide($grid-gutter-width, 2);
      }
    }
  }
}

@include media-breakpoint('xs') {

  .ce_text {

    &.width-25 { --img-wdth: 25%; }
    &.width-33 { --img-wdth: 33.3333%; }
    &.width-50 { --img-wdth: 50%; }

    .image_container {

      &.float {

        &_right { margin-left:  divide($grid-gutter-width, 2) }
        &_left  { margin-right: divide($grid-gutter-width, 2) }
      }
    }
  }
}
