[class*="bgi-"] {
  --bgi:none;
  --bgia:scroll;
  --bgix:50%;
  --bgiy:50%;
  --bgir:no-repeat;
  --bgis:cover;
}

// Only enable backgrounds within div and body
div,
body {
  &[class*="bgi-"] {
    background-image: var(--bgi);
    background-attachment: var(--bgia);
    background-position: var(--bgix) var(--bgiy);
    background-repeat: var(--bgir);
    background-size: var(--bgis);
  }
}

.bg {
  // Attachments | default: 'scroll'
  &--fixed   {--bgia:fixed;}
  &--local   {--bgia:local;}

  // Position horizontal | default: '50%'
  &--left    {--bgix:left;}
  &--right   {--bgix:right;}

  // Position vertical | default: '50%'
  &--top     {--bgiy:top;}
  &--btm     {--bgiy:bottom;}

  // Background repeat | default: 'no-repeat'
  &--repeat  {--bgir:repeat;}

  // Background size | default: 'cover'
  &--auto    {--bgis:auto;}
  &--contain {--bgis:contain;}
}

[class*="i-bgi-"] {
  --i-bgi:none;
  --i-bgia:scroll;
  --i-bgix:50%;
  --i-bgiy:50%;
  --i-bgir:no-repeat;
  --i-bgis:cover;
}

[class*="i-bgi-"] {
  .item >.inside {
    background-image: var(--i-bgi);
    background-attachment: var(--i-bgia);
    background-position: var(--i-bgix) var(--i-bgiy);
    background-repeat: var(--i-bgir);
    background-size: var(--i-bgis);
  }
}

.i-bg {
  // Attachments | default: 'scroll'
  &--fixed   {--i-bgia:fixed;}
  &--local   {--i-bgia:local;}

  // Position horizontal | default: '50%'
  &--left    {--i-bgix:left;}
  &--right   {--i-bgix:right;}

  // Position vertical | default: '50%'
  &--top     {--i-bgiy:top;}
  &--btm     {--i-bgiy:bottom;}

  // Background repeat | default: 'no-repeat'
  &--repeat  {--i-bgir:repeat;}

  // Background size | default: 'cover'
  &--auto    {--i-bgis:auto;}
  &--contain {--i-bgis:contain;}
}

// Reset classes
.bgi-none   {--bgi:none;}
.i-bgi-none {--i-bgi:none;}
