.widget[class*='fi-'] {

  > .input-container {
    display: flex;

    border-width: $form-input-border-width;
    border-style: $form-input-border-style;
    border-color: $form-input-border-color;
    border-radius: $form-input-border-radius;

    &:before {
      display: flex;
      align-items: center;
      justify-content: center;

      background: $form-field-icon-background;
      border-style: $form-input-border-style;
      border-color: inherit;
      color: $form-field-icon-color;
      font-size: var(--fi-fs,#{$form-field-icon-size});

      font-style: normal;
      font-weight: normal;
      font-variant: normal;

      -webkit-font-smoothing: antialiased;
      speak: none;

      width: 40px;

      border-width: $form-input-border-width;
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;

      margin: -#{$form-input-border-width} 0 -#{$form-input-border-width} -#{$form-input-border-width};

      content: var(--ico,'');
    }

    &:hover { border-color: $form-input-border-color-hover; }
    &:focus { border-color: $form-input-border-color-focus; }
  }

  input {
    border: 0 none;
    height: sub($form-input-height, multiply($form-input-border-width, 2), 'px');
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.error {

    > .input-container {
      border-color: $form-input-border-color-error;
    }
  }

  &.fi-right {

    > .input-container {

      &:before {
        order: 2;

        border-radius: 0;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;

        margin: -#{$form-input-border-width} -#{$form-input-border-width} -#{$form-input-border-width} 0;
      }
    }

    input {
      border-radius: 0;
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
    }

    &.mandatory {
      > .input-container:after { right: 45px; }
    }
  }
}

$f-icon-list: (
  m2:     'm²',
  at:     '@',
  euro:   '€',
  dollar: '$'
);

@each $pre, $ico in $f-icon-list{@include form-field-icon($pre,$ico)}
