.form-img {
  --fimg-mr:auto;
  --fimg-ml:auto;
  --fimg-algn:inherit;
  --fimg:none;

  &.is--right {--fimg-mr:initial;--fimg-algn:right;}
  &.is--left  {--fimg-ml:initial;--fimg-algn:left;}

  &.widget {
    &,
    &-checkbox label,
    &-radio label {

      &:before {
        display: block;

        content: '';
        position: static;

        width: $form-field-image-width;
        height: $form-field-image-height;

        margin: 0 0 var(--c-m);
        margin-right: var(--fimg-mr);
        margin-left: var(--fimg-ml);

        background: var(--fimg) no-repeat 50%;
        background-size: 100%;
      }
    }

    &-checkbox,
    &-radio {
      // Reset so image is within label
      &:before { content: none; }

      label {
        text-align: var(--fimg-algn);
        padding: 0;
        margin: 0;
        // Hide form-checkbox-radio-symbol
        &:after { content: none !important; }

        &:before {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
