.c_headline {
  margin-bottom: 1rem;
}

div[class*="hl-mb-"] {
  --hl-mb: 1rem;
}

$hl-bps: map-merge((0:0),$breakpoints);
@each $bp in map-keys(map-merge((0:0),$breakpoints)) {
  $infix: breakpoint-infix($bp);
  @include media-breakpoint($bp, $hl-bps) {
    .hl-mb {

      @if ($bp == 0) {
        &-auto {
          &-1 {--hl-mb: var(--hl-mb-1)}
          &-2 {--hl-mb: var(--hl-mb-2)}
          &-3 {--hl-mb: var(--hl-mb-3)}
        }
      }

      @if ($bp == 's') {
        &-auto {
          &-1 {--hl-mb: var(--hl-mb-s-1)}
          &-2 {--hl-mb: var(--hl-mb-s-2)}
          &-3 {--hl-mb: var(--hl-mb-s-3)}
        }
      }

      @if ($bp == 'l') {
        &-auto {
          &-1 {--hl-mb: var(--hl-mb-l-1)}
          &-2 {--hl-mb: var(--hl-mb-l-2)}
          &-3 {--hl-mb: var(--hl-mb-l-3)}
        }
      }

      &#{$infix}-1 {--hl-mb: var(--hl-mb-2)}
      &#{$infix}-2 {--hl-mb: var(--hl-mb-s-2)}
      &#{$infix}-3 {--hl-mb: var(--hl-mb-l-2)}

      &-auto {

        &-1 {
          &.hl-mb#{$infix} {
            &-1 {--hl-mb: var(--hl-mb-1)}
            &-2 {--hl-mb: var(--hl-mb-s-1)}
            &-3 {--hl-mb: var(--hl-mb-l-1)}
          }
        }

        &-2 {
          &.hl-mb#{$infix} {
            &-1 {--hl-mb: var(--hl-mb-2)}
            &-2 {--hl-mb: var(--hl-mb-s-2)}
            &-3 {--hl-mb: var(--hl-mb-l-2)}
          }
        }

        &-3 {
          &.hl-mb#{$infix} {
            &-1 {--hl-mb: var(--hl-mb-3)}
            &-2 {--hl-mb: var(--hl-mb-s-3)}
            &-3 {--hl-mb: var(--hl-mb-l-3)}
          }
        }
      }
    }
  }
}
